<a href="https://colab.research.google.com/github/repitta/CienciaDeDadosEducacionais/blob/master/An%C3%A1lise_Luana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# These are the library we are going to use
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
# Notas finais
# Reading the data directly from the Git
notas_url = ["https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.1.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.2.csv",
            #"https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.1.csv",
            #"https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.2.csv"
            ]

In [0]:
# Notas since 2017.1 until 2018.2
notas2017_1 = pd.read_csv(notas_url[0], sep=';', encoding = "ISO-8859-1" )
notas2017_2 = pd.read_csv(notas_url[1], sep=';', encoding = "ISO-8859-1" )
#notas2018_1 = pd.read_csv(notas_url[2], sep=';', encoding = "ISO-8859-1" )
#notas2018_2 = pd.read_csv(notas_url[3], sep=';', encoding = "ISO-8859-1" )

In [0]:
# Setting priginal data into one vector due to easier manipulation
classes =[notas2017_1, notas2017_2,#notas2018_1, notas2018_2
         ]

In [0]:
# Adding year in each dataframe 
year = 2017 # The year we decide to start our study
for i in range(2):
  classes[i]['ano'] = year
  if i%2!=0:
    year += 1
  
# Renaming the column for better manipulation
  classes[i].rename(columns={'nome': 'disciplina'}, inplace=True)

In [0]:
for i in range(2):
  # Changing some columns types in this step
  classes[i].periodo   = classes[i].periodo.astype(str)
  classes[i].codigo    = classes[i].codigo.astype(str)
  classes[i].disciplina= classes[i].disciplina.astype(str)
  classes[i].turma     = classes[i].turma.astype(str)
  classes[i].siape     = classes[i].siape.astype(str)
  classes[i].horario   = classes[i].horario.astype(str)
  classes[i].matricula = classes[i].matricula.astype(int)
 #classes[i].nota      = classes[i].nota.astype(float) #Não pode converter pq os alunos indeferidos no campo nota tem o simbolo -
  classes[i].situacao  = classes[i].situacao.astype(str)
  classes[i].ano       = classes[i].ano.astype(str)

  # Filtro para os dados apenas da disciplina do codigo que tu selecionou
 # classes[i] = classes[i][classes[i]['situacao'] !='EXCLUIDA']
  
  #Concatenar as colunas ano e periodo
  classes[i].ano = classes[i]['ano'] + "." + classes[i]['periodo']
  # transformar a tipo da coluna ano 
  classes[i].ano       = classes[i].ano.astype(float)

In [0]:
# Concatenating all classes since 2017.1 until 2018.2
merge_classes = classes[0]
for i in range(1,4):
  merge_classes = pd.concat([merge_classes, classes[i]])

In [14]:
csv20172 = classes[1][classes[1]['codigo']=="ECT2203"]
csv20172.to_csv(r'20172ECT2203.csv')


'''
merge_classesCopy = merge_classes[merge_classes['codigo']=="ECT2106"]
merge_classesCopy = merge_classesCopy[["matricula","disciplina","nota","ano","situacao"]]
#criar o arquivo csv por disciplina.. aqui tu tem q ficar mudando o nome do arquivo
merge_classesCopy.to_csv(r'ECT2106.csv')

#Agora tu volta para a celula que tem q colocar o novo codigo da outra disciplina e roda de novo... lembra de ler tudo de novo .. desdo inicio
'''

'\nmerge_classesCopy = merge_classes[merge_classes[\'codigo\']=="ECT2106"]\nmerge_classesCopy = merge_classesCopy[["matricula","disciplina","nota","ano","situacao"]]\n#criar o arquivo csv por disciplina.. aqui tu tem q ficar mudando o nome do arquivo\nmerge_classesCopy.to_csv(r\'ECT2106.csv\')\n\n#Agora tu volta para a celula que tem q colocar o novo codigo da outra disciplina e roda de novo... lembra de ler tudo de novo .. desdo inicio\n'

In [0]:
# aqui tu vai colocar o nome de todos os aquivos que tu gerou
notas_url = ["20171ECT2101.csv","20171ECT2102.csv", "20171ECT2103.csv","20171ECT2104.csv", "20171ECT2105.csv","20171ECT2106.csv","20172ECT2203.csv"]

In [0]:
# Notas since 2017.1 until 2018.2
notas_1 = pd.read_csv(notas_url[0])
notas_2 = pd.read_csv(notas_url[1] )
notas_3 = pd.read_csv(notas_url[2] )
notas_4 = pd.read_csv(notas_url[3] )
notas_5 = pd.read_csv(notas_url[4] )
notas_6 = pd.read_csv(notas_url[5] )
notas_7 = pd.read_csv(notas_url[6] )
# aqui tu vai adicionar uma variavel para cada arquivo que tu cirar

# Setting priginal data into one vector due to easier manipulation, aqui tu vai adicionar todas a variaveis
notas =[notas_1, notas_2,notas_3, notas_4,notas_5, notas_6,notas_7]

In [0]:
# Concatenating all notas
merge_notas = notas[0]
for i in range(1,7):
  merge_notas = pd.concat([merge_notas, notas[i]], ignore_index=True)
merge_notas

In [98]:
#teste para saber quantas ocorrencia tem a mesma matricula no mesmo semestre
merge_notas =merge_notas.sort_values('matricula')
a = merge_notas.groupby("matricula")["periodo"].sum()
a.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8, 10, 14, 11,  9, 15, 12, 13])

In [0]:
a[a == 8]

In [0]:
merge_notas [merge_notas ["matricula"]==20170146918]

In [0]:
merge_notas

In [0]:
disciplinas = merge_notas["disciplina"].unique()
colunas    = ["matricula"]
tabela= pd.DataFrame(columns=colunas)
for i in disciplinas:
  notasTurma = merge_notas.loc[merge_notas["disciplina"].str.contains(i, regex=False),["matricula","disciplina","ano","nota","situacao"]]
  notasTurma = notasTurma.sort_values("matricula")
  tabela = pd.merge(notasTurma,tabela,on=['matricula'], how="outer") 


tabela.columns = ['matricula', disciplinas[6],disciplinas[6]+"ano",disciplinas[6]+"nota",disciplinas[6]+"situacao",
                 disciplinas[5],disciplinas[5]+"ano",disciplinas[5]+"nota",disciplinas[5]+"situacao", 
                 disciplinas[4],disciplinas[4]+"ano",disciplinas[4]+"nota",disciplinas[4]+"situacao",
                 disciplinas[3],disciplinas[3]+"ano",disciplinas[3]+"nota",disciplinas[3]+"situacao",
                 disciplinas[2],disciplinas[2]+"ano",disciplinas[2]+"nota",disciplinas[2]+"situacao",
                 disciplinas[1],disciplinas[1]+"ano",disciplinas[1]+"nota",disciplinas[1]+"situacao",
                 disciplinas[0],disciplinas[0]+"ano",disciplinas[0]+"nota",disciplinas[0]+"situacao"]


tabela = tabela.drop_duplicates()
tabela = tabela.sort_values('matricula')
tabela

In [0]:
#Tabela só com os registros de quem cursou as cinco disciplinas em 2017.1 e também cursou LOP em 2017.2
tabela1 = tabela.dropna(subset=["LÓGICA DE PROGRAMAÇÃO"])
tabela1 = tabela1.sort_values('matricula')

In [0]:
#verificar quais os alunos estão com o status de cancelado
tabela1[tabela1["LÓGICA DE PROGRAMAÇÃOsituacao"] == "CANCELADO"]
#tabela1[tabela1["CIÊNCIA, TECNOLOGIA E SOCIEDADEsituacao"] == "CANCELADO"]
#tabela1[tabela1["PRÁTICAS DE LEITURA E ESCRITA Isituacao"] == "CANCELADO"]
#tabela1[tabela1["QUÍMICA GERALsituacao"] == "CANCELADO"]
#tabela1[tabela1["QUÍMICA GERALsituacao"] == "CANCELADO"]

In [0]:
#tabela só com os alumos que cursaram, todas as disciplinas em 2017.1 e LOP em 2017.2
tabela2 = tabela1.dropna()
tabela2