<a href="https://colab.research.google.com/github/repitta/CienciaDeDadosEducacionais/blob/master/An%C3%A1lise_Luana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# These are the library we are going to use
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
# Notas finais
# Reading the data directly from the Git
notas_url = ["https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.1.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.2.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.1.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.2.csv"]

In [0]:
# Notas since 2017.1 until 2018.2
notas2017_1 = pd.read_csv(notas_url[0], sep=';', encoding = "ISO-8859-1" )
notas2017_2 = pd.read_csv(notas_url[1], sep=';', encoding = "ISO-8859-1" )
notas2018_1 = pd.read_csv(notas_url[2], sep=';', encoding = "ISO-8859-1" )
notas2018_2 = pd.read_csv(notas_url[3], sep=';', encoding = "ISO-8859-1" )

In [0]:
# Setting priginal data into one vector due to easier manipulation
classes =[notas2017_1, notas2017_2,notas2018_1, notas2018_2]

In [0]:
# Adding year in each dataframe 
year = 2017 # The year we decide to start our study
for i in range(4):
  classes[i]['ano'] = year
  if i%2!=0:
    year += 1
  
# Renaming the column for better manipulation
  classes[i].rename(columns={'nome': 'disciplina'}, inplace=True)

In [0]:
#Consultar o codigo e o nome da disciplina
classes[1][["disciplina","codigo"]]

In [0]:
for i in range(4):
  # Changing some columns types in this step
  classes[i].periodo   = classes[i].periodo.astype(str)
  classes[i].codigo    = classes[i].codigo.astype(str)
  classes[i].disciplina= classes[i].disciplina.astype(str)
  classes[i].turma     = classes[i].turma.astype(str)
  classes[i].siape     = classes[i].siape.astype(str)
  classes[i].horario   = classes[i].horario.astype(str)
  classes[i].matricula = classes[i].matricula.astype(int)
 #classes[i].nota      = classes[i].nota.astype(float) #Não pode converter pq os alunos indeferidos no campo nota tem o simbolo -
  classes[i].situacao  = classes[i].situacao.astype(str)
  classes[i].ano       = classes[i].ano.astype(str)

  # Filtro para os dados apenas da disciplina de Lop que o código é ECT2203 e que a turma não foi excluida 
  classes[i] = classes[i][classes[i]['codigo']=="ECT2101"]
  classes[i] = classes[i][classes[i]['situacao'] !='EXCLUIDA']
  
  #Concatenar as colunas ano e periodo
  classes[i].ano = classes[i]['ano'] + "." + classes[i]['periodo']
  # transformar a tipo da coluna ano 
  classes[i].ano       = classes[i].ano.astype(float)

In [0]:
# Concatenating all classes since 2017.1 until 2018.2
merge_classes = classes[0]
for i in range(1,4):
  merge_classes = pd.concat([merge_classes, classes[i]])

In [0]:
merge_classes = merge_classes[["matricula","disciplina","nota","ano"]]
#criar o arquivo csv por disciplina
merge_classes.to_csv(r'ECT2101.csv')

In [0]:
# Notas finais
# Reading the data directly from the Git
notas_url = ["ECT2203.csv","ECT2101.csv"]

In [0]:
# Notas since 2017.1 until 2018.2
notas_1 = pd.read_csv(notas_url[0] )
notas_2 = pd.read_csv(notas_url[1] )

# Setting priginal data into one vector due to easier manipulation
notas =[notas_1, notas_2]

In [0]:
# Concatenating all notas
merge_notas = notas[0]
for i in range(1,2):
  merge_notas = pd.concat([merge_notas, notas[i]], ignore_index=True)
merge_notas

In [0]:
disciplinas = merge_notas["disciplina"].unique()
colunas    = ["matricula"]
tabela= pd.DataFrame(columns=colunas)
for i in disciplinas:
  notasTurma = merge_notas.loc[merge_notas["disciplina"].str.contains(i, regex=False),["matricula","nota","ano"]]
  notasTurma = notasTurma.sort_values("matricula")
  tabela = pd.merge(notasTurma,tabela,on=['matricula'], how="outer") 
  
tabela.columns = ['matricula',disciplinas[0],disciplinas[0]+"ano",disciplinas[1],disciplinas[1]+"ano" ]
tabela = tabela.drop_duplicates()
tabela = tabela.sort_values('matricula')
tabela

In [30]:
tabela

        matricula LÓGICA DE PROGRAMAÇÃO  ...  PRÉ-CÁLCULO PRÉ-CÁLCULOano
4817   2012037965                   NaN  ...         0.00         2017.1
0      2012921973                     -  ...          NaN            NaN
1      2012922980                     -  ...          NaN            NaN
4818   2012924590                   NaN  ...            -         2017.2
4819   2012925711                   NaN  ...            -         2017.1
4820   2012927879                   NaN  ...         0.00         2017.1
4821   2012927879                   NaN  ...            -         2017.1
4822   2012927879                   NaN  ...            -         2018.2
4823   2012927879                   NaN  ...            -         2018.1
4824   2012927879                   NaN  ...         0.00         2018.1
4825   2012927879                   NaN  ...         0.00         2017.2
4826   2012928339                   NaN  ...         0.00         2017.1
4827   2013003460                   NaN  ...            -         2017.1
2      2013020701                  0.00  ...          NaN            NaN
4828   2013022949                   NaN  ...         0.30         2017.1
3      2013023580                     -  ...          NaN            NaN
6      2013023580                  2.20  ...          NaN            NaN
8      2013023580                  0.10  ...          NaN            NaN
4      2013023580                     -  ...          NaN            NaN
4829   2013061750                   NaN  ...            -         2017.1
9      2013063253                     -  ...          NaN            NaN
10     2013063253                  0.00  ...          NaN            NaN
4830   2013064018                   NaN  ...            -         2017.1
4831   2013064036                   NaN  ...         0.10         2017.2
4832   2013071442                   NaN  ...            -         2018.1
4833   2013077900                   NaN  ...         0.00         2017.1
4834   2013080728                   NaN  ...            -         2017.1
4835   2013080844                   NaN  ...         0.00         2017.1
11     2013081206                     -  ...          NaN            NaN
4836   2013081500                   NaN  ...         0.00         2017.1
...           ...                   ...  ...          ...            ...
4787  20180156678                  2.00  ...          NaN            NaN
4788  20180156687                  1.00  ...          NaN            NaN
4789  20180156696                  0.00  ...          NaN            NaN
4790  20180156702                  0.70  ...          NaN            NaN
4791  20180156711                  0.70  ...          NaN            NaN
4792  20180156720                  2.70  ...          NaN            NaN
4793  20180156730                  0.30  ...          NaN            NaN
4794  20180156749                  1.10  ...          NaN            NaN
4795  20180156758                  1.70  ...          NaN            NaN
4796  20180156767                     -  ...          NaN            NaN
4797  20180156776                     -  ...          NaN            NaN
4798  20180156785                     -  ...          NaN            NaN
4799  20180156794                  2.20  ...          NaN            NaN
4800  20180156800                  5.30  ...          NaN            NaN
4801  20180156810                     -  ...          NaN            NaN
4802  20180156829                  0.20  ...          NaN            NaN
4803  20180156838                     -  ...          NaN            NaN
4804  20180156847                  0.30  ...          NaN            NaN
4805  20180156856                  0.00  ...          NaN            NaN
4806  20180156865                  0.00  ...          NaN            NaN
4807  20180156874                  1.10  ...          NaN            NaN
4808  20180156883                  0.00  ...          NaN            NaN
4809  20180156892                  2.00  ...          NaN            NaN
4810  20180156909                  1.00  ...          NaN            NaN
4811  20180156918                  0.30  ...          NaN            NaN
4812  20180156936                  2.50  ...          NaN            NaN
4813  20180156945                  1.50  ...          NaN            NaN
4814  20180156954                     -  ...          NaN            NaN
4815  20180157693                  0.00  ...          NaN            NaN
4816  20180157719                  2.60  ...          NaN            NaN

[5599 rows x 5 columns]