<a href="https://colab.research.google.com/github/repitta/CienciaDeDadosEducacionais/blob/master/An%C3%A1lise_dos_dados_da_UFRN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# These are the library we are going to use
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
# Notas
# Reading the data directly from the Git
notas_url = ["https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.1.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.2.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.1.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.2.csv"]

In [0]:
# Notas since 2017.1 until 2018.2
notas2017_1 = pd.read_csv(notas_url[0], sep=';', encoding = "ISO-8859-1" )
notas2017_2 = pd.read_csv(notas_url[1], sep=';', encoding = "ISO-8859-1" )
notas2018_1 = pd.read_csv(notas_url[2], sep=';', encoding = "ISO-8859-1" )
notas2018_2 = pd.read_csv(notas_url[3], sep=';', encoding = "ISO-8859-1" )

In [0]:
# Setting priginal data into one vector due to easier manipulation
classes =[notas2017_1, notas2017_2,notas2018_1, notas2018_2]

In [24]:
notas2017_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23159 entries, 0 to 23158
Data columns (total 9 columns):
periodo      23159 non-null int64
codigo       23159 non-null object
nome         23159 non-null object
turma        23159 non-null object
siape        23159 non-null object
horario      23159 non-null object
matricula    23159 non-null int64
nota         23159 non-null object
situacao     23159 non-null object
dtypes: int64(2), object(7)
memory usage: 1.6+ MB

In [17]:
notas2017_1.loc[notas2017_1["nome"] == "LÓGICA DE PROGRAMAÇÃO","situacao"].unique()

array(['APROVADO POR NOTA', 'APROVADO', 'CANCELADO', 'REPROVADO',
       'INDEFERIDO', 'DESISTENCIA', 'REPROVADO POR MÉDIA E POR FALTAS',
       'EXCLUIDA', 'TRANCADO', 'REPROVADO POR NOTA'], dtype=object)

In [18]:
notas2017_2.loc[notas2017_2["nome"] == "LÓGICA DE PROGRAMAÇÃO","situacao"].unique()

array(['REPROVADO', 'INDEFERIDO', 'APROVADO POR NOTA', 'CANCELADO',
       'APROVADO', 'REPROVADO POR MÉDIA E POR FALTAS', 'DESISTENCIA',
       'REPROVADO POR NOTA', 'EXCLUIDA', 'TRANCADO'], dtype=object)

In [19]:
notas2018_1.loc[notas2018_1["nome"] == "LÓGICA DE PROGRAMAÇÃO","situacao"].unique()

array(['DESISTENCIA', 'INDEFERIDO', 'REPROVADO', 'APROVADO',
       'APROVADO POR NOTA', 'CANCELADO',
       'REPROVADO POR MÉDIA E POR FALTAS', 'REPROVADO POR NOTA',
       'TRANCADO', 'EXCLUIDA'], dtype=object)

In [20]:
notas2018_2.loc[notas2018_2["nome"] == "LÓGICA DE PROGRAMAÇÃO","situacao"].unique()

array(['DESISTENCIA', 'CANCELADO', 'APROVADO', 'APROVADO POR NOTA',
       'INDEFERIDO', 'REPROVADO', 'REPROVADO POR NOTA', 'TRANCADO',
       'EXCLUIDA', 'REPROVADO POR MÉDIA E POR FALTAS'], dtype=object)

In [0]:
for i in range(4):
  # Changing some columns types in this step
  classes[i].periodo   = classes[i].periodo.astype(int)
  classes[i].codigo    = classes[i].codigo.astype(str)
  classes[i].nome      = classes[i].nome.astype(str)
  classes[i].turma     = classes[i].turma.astype(str)
  classes[i].siape     = classes[i].siape.astype(str)
  classes[i].horario   = classes[i].horario.astype(str)
  classes[i].matricula = classes[i].matricula.astype(int)
 #classes[i].nota      = classes[i].nota.astype(float) #Não pode converter pq os alunos indeferidos no campo nota tem o simbolo -
  classes[i].situacao  = classes[i].situacao.astype(str)

  # Filtro para os dados apenas da disciplina de Lop que o código é ECT2203 e que a turma não foi excluida
  classes[i] = classes[i][classes[i]['codigo']=="ECT2203"]
  classes[i] = classes[i][classes[i]['situacao'] !='EXCLUIDA']

In [0]:
# Adding year in each dataframe 
year = 2017 # The year we decide to start our study
for i in range(4):
  classes[i]['year'] = year
  if i%2!=0:
    year += 1
  
# Renaming the column for better manipulation
  classes[i].rename(columns={'nome': 'disciplina'}, inplace=True)

In [0]:
# Concatenating all classes since 2017.1 until 2018.2
merge_classes = classes[0]
for i in range(1,4):
  merge_classes = pd.concat([merge_classes, classes[i]])

In [35]:
merge_classes.head()

     periodo   codigo             disciplina  ...  nota           situacao  year
420        1  ECT2203  LÓGICA DE PROGRAMAÇÃO  ...  5.10  APROVADO POR NOTA  2017
481        1  ECT2203  LÓGICA DE PROGRAMAÇÃO  ...  7.40           APROVADO  2017
524        1  ECT2203  LÓGICA DE PROGRAMAÇÃO  ...  6.70  APROVADO POR NOTA  2017
588        1  ECT2203  LÓGICA DE PROGRAMAÇÃO  ...     -          CANCELADO  2017
596        1  ECT2203  LÓGICA DE PROGRAMAÇÃO  ...  1.00          REPROVADO  2017

[5 rows x 10 columns]