<a href="https://colab.research.google.com/github/repitta/CienciaDeDadosEducacionais/blob/master/An%C3%A1lise_Luana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# These are the library we are going to use
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
# Notas finais
# Reading the data directly from the Git
notas_url = ["https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.1.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2017.2.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.1.csv",
            "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/dadosUFRN/notas_discentes_2018.2.csv"]

In [0]:
# Notas since 2017.1 until 2018.2
notas2017_1 = pd.read_csv(notas_url[0], sep=';', encoding = "ISO-8859-1" )
notas2017_2 = pd.read_csv(notas_url[1], sep=';', encoding = "ISO-8859-1" )
notas2018_1 = pd.read_csv(notas_url[2], sep=';', encoding = "ISO-8859-1" )
notas2018_2 = pd.read_csv(notas_url[3], sep=';', encoding = "ISO-8859-1" )

In [0]:
# Setting priginal data into one vector due to easier manipulation
classes =[notas2017_1, notas2017_2,notas2018_1, notas2018_2]

In [0]:
# Adding year in each dataframe 
year = 2017 # The year we decide to start our study
for i in range(4):
  classes[i]['ano'] = year
  if i%2!=0:
    year += 1
  
# Renaming the column for better manipulation
  classes[i].rename(columns={'nome': 'disciplina'}, inplace=True)

In [0]:
#Consultar o codigo e o nome da disciplina
classes[1][["disciplina","codigo"]]

In [0]:
for i in range(4):
  # Changing some columns types in this step
  classes[i].periodo   = classes[i].periodo.astype(str)
  classes[i].codigo    = classes[i].codigo.astype(str)
  classes[i].disciplina= classes[i].disciplina.astype(str)
  classes[i].turma     = classes[i].turma.astype(str)
  classes[i].siape     = classes[i].siape.astype(str)
  classes[i].horario   = classes[i].horario.astype(str)
  classes[i].matricula = classes[i].matricula.astype(int)
 #classes[i].nota      = classes[i].nota.astype(float) #Não pode converter pq os alunos indeferidos no campo nota tem o simbolo -
  classes[i].situacao  = classes[i].situacao.astype(str)
  classes[i].ano       = classes[i].ano.astype(str)

  # Filtro para os dados apenas da disciplina do codigo que tu selecionou
  classes[i] = classes[i][classes[i]['situacao'] !='EXCLUIDA']
  
  #Concatenar as colunas ano e periodo
  classes[i].ano = classes[i]['ano'] + "." + classes[i]['periodo']
  # transformar a tipo da coluna ano 
  classes[i].ano       = classes[i].ano.astype(float)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [0]:
# Concatenating all classes since 2017.1 until 2018.2
merge_classes = classes[0]
for i in range(1,4):
  merge_classes = pd.concat([merge_classes, classes[i]])

In [0]:
merge_classesCopy = merge_classes[merge_classes['codigo']=="ECT2106"]
merge_classesCopy = merge_classesCopy[["matricula","disciplina","nota","ano","situacao"]]
#criar o arquivo csv por disciplina.. aqui tu tem q ficar mudando o nome do arquivo
merge_classesCopy.to_csv(r'ECT2106.csv')

#Agora tu volta para a celula que tem q colocar o novo codigo da outra disciplina e roda de novo... lembra de ler tudo de novo .. desdo inicio

In [0]:
# aqui tu vai colocar o nome de todos os aquivos que tu gerou
notas_url = ["ECT2101.csv","ECT2102.csv", "ECT2103.csv","ECT2104.csv", "ECT2105.csv","ECT2106.csv"]

In [0]:
# Notas since 2017.1 until 2018.2
notas_1 = pd.read_csv(notas_url[0])
notas_2 = pd.read_csv(notas_url[1] )
notas_3 = pd.read_csv(notas_url[2] )
notas_4 = pd.read_csv(notas_url[3] )
notas_5 = pd.read_csv(notas_url[4] )
notas_6 = pd.read_csv(notas_url[5] )
# aqui tu vai adicionar uma variavel para cada arquivo que tu cirar

# Setting priginal data into one vector due to easier manipulation, aqui tu vai adicionar todas a variaveis
notas =[notas_1, notas_2,notas_3, notas_4,notas_5, notas_6]

In [0]:
# Concatenating all notas
merge_notas = notas[0]
for i in range(1,6):
  merge_notas = pd.concat([merge_notas, notas[i]], ignore_index=True)
merge_notas

In [0]:
merge_notas =merge_notas.sort_values('matricula')
merge_notas

In [0]:
disciplinas = merge_notas["disciplina"].unique()
colunas    = ["matricula"]
tabela= pd.DataFrame(columns=colunas)
for i in disciplinas:
  notasTurma = merge_notas.loc[merge_notas["disciplina"].str.contains(i, regex=False),["matricula","disciplina","ano","nota","situacao"]]
  notasTurma = notasTurma.sort_values("matricula")
  tabela = pd.merge(notasTurma,tabela,on=['matricula'], how="outer") 


tabela.columns = ['matricula',disciplinas[5],disciplinas[5]+"ano",disciplinas[5]+"nota",disciplinas[5]+"situacao", 
                 disciplinas[4],disciplinas[4]+"ano",disciplinas[4]+"nota",disciplinas[4]+"situacao",
                 disciplinas[3],disciplinas[3]+"ano",disciplinas[3]+"nota",disciplinas[3]+"situacao",
                 disciplinas[2],disciplinas[2]+"ano",disciplinas[2]+"nota",disciplinas[2]+"situacao",
                 disciplinas[1],disciplinas[1]+"ano",disciplinas[1]+"nota",disciplinas[1]+"situacao",
                 disciplinas[0],disciplinas[0]+"ano",disciplinas[0]+"nota",disciplinas[0]+"situacao"]


tabela = tabela.drop_duplicates()
tabela = tabela.sort_values('matricula')
tabela

In [0]:
tabela.info()
tabela = tabela.dropna(axis=0)
tabela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63650 entries, 81478 to 78766
Data columns (total 25 columns):
matricula                                  63650 non-null int64
CIÊNCIA, TECNOLOGIA E SOCIEDADE            52639 non-null object
CIÊNCIA, TECNOLOGIA E SOCIEDADEano         52639 non-null float64
CIÊNCIA, TECNOLOGIA E SOCIEDADEnota        52639 non-null object
CIÊNCIA, TECNOLOGIA E SOCIEDADEsituacao    52639 non-null object
PRÁTICAS DE LEITURA E ESCRITA I            50197 non-null object
PRÁTICAS DE LEITURA E ESCRITA Iano         50197 non-null float64
PRÁTICAS DE LEITURA E ESCRITA Inota        50197 non-null object
PRÁTICAS DE LEITURA E ESCRITA Isituacao    50197 non-null object
QUÍMICA GERAL                              61232 non-null object
QUÍMICA GERALano                           61232 non-null float64
QUÍMICA GERALnota                          61232 non-null object
QUÍMICA GERALsituacao                      61232 non-null object
CÁLCULO I                                  62479 non-null object
CÁLCULO Iano                               62479 non-null float64
CÁLCULO Inota                              62479 non-null object
CÁLCULO Isituacao                          62479 non-null object
VETORES E GEOMETRIA ANALÍTICA              62546 non-null object
VETORES E GEOMETRIA ANALÍTICAano           62546 non-null float64
VETORES E GEOMETRIA ANALÍTICAnota          62546 non-null object
VETORES E GEOMETRIA ANALÍTICAsituacao      62546 non-null object
PRÉ-CÁLCULO                                59638 non-null object
PRÉ-CÁLCULOano                             59638 non-null float64
PRÉ-CÁLCULOnota                            59638 non-null object
PRÉ-CÁLCULOsituacao                        59638 non-null object
dtypes: float64(6), int64(1), object(18)
memory usage: 12.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 47876 entries, 4613 to 78766
Data columns (total 25 columns):
matricula                                  47876 non-null int64
CIÊNCIA, TECNOLOGIA E SOCIEDADE            47876 non-null object
CIÊNCIA, TECNOLOGIA E SOCIEDADEano         47876 non-null float64
CIÊNCIA, TECNOLOGIA E SOCIEDADEnota        47876 non-null object
CIÊNCIA, TECNOLOGIA E SOCIEDADEsituacao    47876 non-null object
PRÁTICAS DE LEITURA E ESCRITA I            47876 non-null object
PRÁTICAS DE LEITURA E ESCRITA Iano         47876 non-null float64
PRÁTICAS DE LEITURA E ESCRITA Inota        47876 non-null object
PRÁTICAS DE LEITURA E ESCRITA Isituacao    47876 non-null object
QUÍMICA GERAL                              47876 non-null object
QUÍMICA GERALano                           47876 non-null float64
QUÍMICA GERALnota                          47876 non-null object
QUÍMICA GERALsituacao                      47876 non-null object
CÁLCULO I                                  47876 non-null object
CÁLCULO Iano                               47876 non-null float64
CÁLCULO Inota                              47876 non-null object
CÁLCULO Isituacao                          47876 non-null object
VETORES E GEOMETRIA ANALÍTICA              47876 non-null object
VETORES E GEOMETRIA ANALÍTICAano           47876 non-null float64
VETORES E GEOMETRIA ANALÍTICAnota          47876 non-null object
VETORES E GEOMETRIA ANALÍTICAsituacao      47876 non-null object
PRÉ-CÁLCULO                                47876 non-null object
PRÉ-CÁLCULOano                             47876 non-null float64
PRÉ-CÁLCULOnota                            47876 non-null object
PRÉ-CÁLCULOsituacao                        47876 non-null object
dtypes: float64(6), int64(1), object(18)
memory usage: 9.5+ MB

In [0]:
tabela.to_csv(r'notas1periodo.csv')