<a href="https://colab.research.google.com/github/repitta/CienciaDeDadosEducacionais/blob/master/LOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<h1>Exploração dos dados do sistema LOP

Nesse projeto iremos fazer a análise exploratória de dados e suas representações visuais, que  engloba um conjunto de estatísticas quantitativas e gráficas que nos mostram as tendências, detectam comportamentos, testam a validade de hipóteses e fazem vários outros estudos.

Para esta análise, vamos utilizar os dados fornecidos pelo sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da  Universidade Federal do Rio Grande do Norte (UFRN) e investigar os fatores que influenciam o desempenho dos alunos do Bacharelado em Ciência e Tecnologia.

Assim, algumas questões que serão uma base para o nosso estudo podem ser levantadas:

1. Como o sucesso dos alunos tem sido ao longo dos anos?
2.  Uma configuração (tamanho, horário) da classe influencia  nesse desempenho?
3. Quais habilidades são aprendidas pelos alunos? (Perseverança,  Raciocínio Lógico, Atenção aos detalhes, Pensamento Abstrato )
4. Qual o perfil dos alunos?
5. Quais os estilos de aprendizagem?
6. E finalmente, qual a influência da  autorregulação da aprendizagem do aluno no seu redimento?




E tendo respondido a essas perguntas que, ao longo deste trabalho, geraremos gráficos e tabelas que relacionam a média dos alunos e o número de alunos aprovados e reprovados desde 2017.2  a 2019.1 com elementos como:

* O número de alunos por turma;
* O turno de aula;
* A quantidade de exercícios repondidos;
*A frequência que o aluno responde as atividades;
* E a quantidade de ausências de estudantes.
*Quantidade de linhas do código? 
*número de acessos a uma determinada tarefa?
*Sequência de acesso do conteúdo oferecido
*Data e hora de acesso às atividades
*notas do aluno;

Tais dados serão compilados e assim gerar informações como atividades que os alunos mais atrasam, atividades em que os alunos possuem desempenho menor e conteúdos que são mais visualizados ou menos acessados.

# <h1>Análise dos dados dos usuários do sistema LOP
  
O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.user.csv**, uma base de dados com registro dos usuários cadastrados no sistema LOP desde o ano 2017.2.

Para cada usuário há informações de _id, email, grupos.0, hash, listasFavoritas, matricula, nome, questoesFavoritas, salt e sigaa.turmas

1. A variável  **_id indica**  o número único data indentificação do usuário no sistema.

2. A variável  **email** armazena o endereço eletrônico informado pelo usuário

3. A variável  **grupos.0** indica o papel o usuário no sistema. Porém essa coluna está com o mesmo valor para todos . USUARIO

4. A variável  **hash** ...

5. A variável **listasFavoritas** indica .... está coluna está em branco para todos os campos

6. A variável  **matricula** indica o número de matricula informado pelo usuário

7. A variável **nome** armazena os nomes dos usuários

8. A variável **questoesFavoritas** indica quais as questões o usuário classificou como favorita

9. A variável **salt** ...

10. A variável **sigaa.turmas** ...

O nosso dataset tem 49 colunas e 1067 linhas

#Análise dos dados das turmas do sistema LOP

O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.turmas.csv**, uma base de dados com registro das turmas cadastradas no sistema LOP desde o ano 2017.2.

Para cada turma há informações 355 colunas . Muitas dessas informações foram exportadas do SIGAA e não são releventes para a pesquisa. Vamos descrever as variáveis que serão utilizadas no estudo.

1. A variável **_id armazena** o número único para identificar cada turma cadastrada
2. A variável **anoPeriodoString** armazena o ano e o respectivo período: .1 para o primeiro sementre .2 para o segundo sementre
3. A variável **descricaoTurma** armazena o nome da disciplina e o nome da turma
4. A variável **qtdMatriculados** armazena a quantidade de alunos matriculados em cada turma, tem muitos obejtos faltantes , não foi utilizado no estudo
5. A variável **horariosTurma.0.descricaoTurno** armazena o período que a turma foi oferdada : Manhã, Tarde ou Noite, tem muito objetos faltantes, não foi utilizadono estudo.
6. A variável **matrícula** armazena a matricula do usuário

O nosso dataset tem 355 colunas e 48 linhas

# Análise dos dados das listas de questões do sistema Lop

O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.listasExercicios.csv**, uma base de dados com registro das listas de exercícios cadastradas no sistema LOP desde o ano 2017.2.

Para cada lista de questões há informações  _id, likes, questoes, titulo.

1. A variável **_id** é um número único que idenfifica cada lista de questões
2. A variável **likes** ... está coluna está toda zerada
3.A variável  **questões** armazena o número único para cada questão cadastrada
4. a variável **titulo** armazena o titulo de cada questão

O nosso dataset tem 23 colunas e 23 linhas

#Análise dos dados das submissões das questões do sistema Lop

O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.submissoes.csv**, uma base de dados com registro das listas de exercícios cadastradas no sistema LOP desde o ano 2017.2.

Para cada submissão há informações _id, codigo, data, porcentagemAcerto, questao.

1. A variável **_id**  armazena um número único da submissão de uma questão por aluno
2. A variável **codigo** armazena o código que foi feito pelo aluno
3. A variável **data** armazena data e hora de cada submissão
4. A variável **porcentagemAcerto** armazena o valor da porcentagem de acerto de cada questão submetida
5. A variável **questao** armazena o id da questão que foi submetida

O nosso dataset tem 55  colunas e 33421 linhas

**Importa as bibliotecas**

In [0]:
import pandas as pd
from csv import reader
import numpy as np

**Lendo os arquivos CSV do Lop e definindo os tipos de cada coluna**

In [0]:
#Tipos de dados em cada coluna
typeUser   = {"_id":str, "matricula":str, "nome":str}
typeTurmas = {"_id":str, 'anoPeriodoString':np.float, 'descricaoTurma':str}
typeLista  = {"_id":str,"titulo":str,"questao":str}
typeSub    = {"porcentagemAcerto":np.int,"user":str} 
         
# Ler os arquivos CSV que foram gerados a partir do banco de dados do sistema LOP
lopUsers     = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lop.users.csv",dtype=typeUser)
lopTurmas    = pd.read_csv("https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lop.turmas.csv",dtype=typeTurmas)
lopListas    = pd.read_csv("https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lop.listasExercicios.csv",dtype=typeLista) 
lopSub       = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lop.submissoes.csv",dtype=typeSub)
lopProvas    = pd.read_csv("https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lop.provas.csv")
lopSubProvas = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lop.submissoesProva.csv")


#definindo a coluna data as tabelas para o formato datetime do pandas
lopSub["data"]       = pd.to_datetime(lopSub["data"], format = "%Y/%m/%dT%H:%M:%S")
lopSubProvas["data"] = pd.to_datetime(lopSubProvas["data"], format = "%Y/%m/%dT%H:%M:%S")

#Transformando data em variável do tipo datetime
#tabSub["data"] = tabSub["data"].astype(str)
#a = tabSub["data"].str.split(".",  n=1, expand=True).loc[:,0].str.split("T",  n=1, expand=True) 
#tabSub["data"] = pd.to_datetime(a[0], format = "%Y/%m/%d")
#tabSub["hora"] = pd.to_datetime(a[1], format = "%H:%M:%S")
#tabSub[["data","hora"]].head()

**Selecionar as colunas com os dados que serão utilizados no estudo**

In [0]:
#Tabela Usuários - tab_user armazena as colunas "_id", "matricula", "nome" 
tabUser = lopUsers.loc[:,["_id", "matricula", "nome"]].copy()

#Tabela Turmas - tab_turmas armazena as colunas "_id", "anoPeriodoString","descricaoTurma", "matricula"
tabTurmas = lopTurmas.loc[:,["_id", "anoPeriodoString","descricaoTurma"]].copy()
matricula = []
turno     = []
for j in range(len(tabTurmas)):
  idMatriculat = []
  for i in range(30):
    idMatriculat.append(lopTurmas.loc[:,"dicentes."+str(i)+".matricula"][j])
  matricula.append(idMatriculat)                     
tabTurmas.loc[:,"matricula"] = pd.Series(matricula)

#Tabela Listas - tab_listas armazena as colunas "id","questoes, titulo"
tabListas = lopListas.loc[:,["_id","titulo"]].copy()
idLista   = []
for j in range(len(tabListas)):
  idQuestoes =[]
  for i in range(19):
    idQuestoes.append(lopListas.loc[:,"questoes."+str(i)][j])
  idLista.append(idQuestoes)
tabListas.loc[:,"questao"] = pd.Series(idLista)

#Tabela SubmissoesLista - taSub armazena as colunas "data","porcentagemAcerto","questao", "user"
tabSub = lopSub.loc[:,["data","porcentagemAcerto","questao", "user"]].copy()

#Tabela Provas - lopProvas armazena as colunas "_id","questao","titulo","iniciou
tabProvas = lopProvas.loc[:,["_id", "titulo","iniciou"]].copy()
questao   = []
turma     = []
for j in range(len(tabProvas)):
  idQuestaot = []
  idTurmat  = []
  for i in range(8):
    idTurmat.append(lopProvas.loc[:,"turmas."+str(i)][j])
    if i <=5 :
      idQuestaot.append(lopProvas.loc[:,"questoes."+str(i)][j]) 
  questao.append(idQuestaot)
  turma.append(idTurmat)
tabProvas.loc[:,"questao"] = pd.Series(questao)
tabProvas.loc[:,"turma"]   = pd.Series(turma)

#Tabela SubmissoesProva - tabSubProvas armazena as colunas 
tabSubProvas = lopSubProvas.loc[:,["_id", "data", "porcentagemAcerto", "prova", "questao","user"]].copy()
#renomear as colunas de tabSubProvas
tabSubProvas.rename(columns={"_id":"idSubmissao","prova":"idProva","questao":"idQuestao","user":"idAluno"}, inplace=True)

**Estrutura da cada dataframe após a seleção dos dados**

In [5]:
print("Tabelas de Usuários Colunas        \n",tabUser.columns,      tabUser.shape)
print("Tabelas de Turmas Colunas          \n",tabTurmas.columns,    tabTurmas.shape)
print("Tabelas de Listas Colunas          \n",tabListas.columns,    tabListas.shape)
print("Tabelas de SubmissoesLista Colunas \n",tabSub.columns,       tabSub.shape)
print("Tabelas de Provas Colunas          \n",tabProvas.columns,    tabListas.shape)
print("Tabelas de SubmissoesProvas Colunas\n",tabSubProvas.columns, tabSubProvas.shape)

Tabelas de Usuários Colunas
 Index(['_id', 'matricula', 'nome'], dtype='object') (1077, 3)
Tabelas de Turmas Colunas
 Index(['_id', 'anoPeriodoString', 'descricaoTurma', 'matricula'], dtype='object') (48, 4)
Tabelas de Listas Colunas
 Index(['_id', 'titulo', 'questao'], dtype='object') (23, 3)
Tabelas de SubmissoesLista Colunas
 Index(['data', 'porcentagemAcerto', 'questao', 'user'], dtype='object') (37758, 4)
Tabelas de Provas Colunas
 Index(['_id', 'titulo', 'iniciou', 'questao', 'turma'], dtype='object') (23, 3)
Tabelas de SubmissoesProvas Colunas
 Index(['idSubmissao', 'data', 'porcentagemAcerto', 'idProva', 'idQuestao',
       'idAluno'],
      dtype='object') (8234, 6)

**Transformar os dados da tabela User**

In [6]:
#renomeando a coluna _id para idAluno
tabUser.rename(columns={"_id":"idAluno"}, inplace=True)

#Limpando a coluna matricula, onde tem .0 no final da matricula foi retirado, tive q fazer uma gambiarra pq ele estva entendendo .0 como uma expressao regular
tabUser.loc[:,"matricula"] = tabUser.loc[:,"matricula"].str.replace(".0","",regex=False).copy()
#tabUser.loc[:,"matricula"] = tabUser.loc[:,"matricula"].str.replace("r0","").copy()


#imprimir os dados da tabela User
print(tabUser.info())
print(tabUser.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1077 entries, 0 to 1076
Data columns (total 3 columns):
idAluno      1077 non-null object
matricula    1076 non-null object
nome         1077 non-null object
dtypes: object(3)
memory usage: 25.3+ KB
None
                    idAluno    matricula                           nome
0  598cd5453bc48946977dcf66   2013023070               Gabriel Tibúrcio
1  598cd8b823daeb4b50a4b254      1943220                       Orivaldo
2  599155ebb3333c31b7a01e5b     12345678                 Professor João
3  5991cb910be9d42f2f68b906  20170039453                         Amanda
4  5991cd1a8907ca2f441cd313  20170038394  Emanuel Fernandes P. da Rocha

**Expandi a tabela turmas para que cada aluno seja uma linha do dataframe**

In [7]:
colunas    = ["idTurma","ano","descricaoTurma","matricula"]
turmasNovo = pd.DataFrame(columns=colunas)
for i in range(tabTurmas.shape[0]):
  idTurma        = tabTurmas["_id"].iloc[i]
  ano            = tabTurmas["anoPeriodoString"].iloc[i]
  descricaoTurma = tabTurmas["descricaoTurma"].iloc[i]
  m              = tabTurmas["matricula"].iloc[i]
  for a in range(30):
    matricula  = m[a]
    dic        = {"idTurma": idTurma ,"ano": ano ,"descricaoTurma":descricaoTurma,"matricula":matricula}
    turmasNovo = pd.concat([turmasNovo, pd.DataFrame(dic, index=[0])],  ignore_index=True, sort = False )
    
print(turmasNovo.shape)
turmasNovo.info()

(1440, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 4 columns):
idTurma           1440 non-null object
ano               1440 non-null float64
descricaoTurma    1440 non-null object
matricula         1073 non-null object
dtypes: float64(1), object(3)
memory usage: 45.1+ KB

**Apagar os registros onde o campo da coluna Matricula é nulo**

In [8]:
turmasNovo = turmasNovo.dropna(axis=0, how='any')
print(turmasNovo.shape)
turmasNovo.info()

(1073, 4)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1073 entries, 0 to 1420
Data columns (total 4 columns):
idTurma           1073 non-null object
ano               1073 non-null float64
descricaoTurma    1073 non-null object
matricula         1073 non-null object
dtypes: float64(1), object(3)
memory usage: 41.9+ KB

**Transformar os dados da tabela Turmas**

In [9]:
#Retirando o .0 da coluna matricula
turmasNovo["matricula"] = turmasNovo["matricula"].astype(str)
turmasNovo["matricula"] = turmasNovo["matricula"].str.replace(".0","",regex=False)

print(turmasNovo.info())
print(turmasNovo.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1073 entries, 0 to 1420
Data columns (total 4 columns):
idTurma           1073 non-null object
ano               1073 non-null float64
descricaoTurma    1073 non-null object
matricula         1073 non-null object
dtypes: float64(1), object(3)
memory usage: 41.9+ KB
None
                    idTurma  ...    matricula
0  598e15296d8650eb27d52e3d  ...  20170106538
1  598e15296d8650eb27d52e3d  ...  20170039453
2  598e15296d8650eb27d52e3d  ...  20170044776
3  598e15296d8650eb27d52e3d  ...  20170031473
4  598e15296d8650eb27d52e3d  ...  20170032274

[5 rows x 4 columns]

**TESTE : Tem matriculas em mais de uma turma**

In [10]:
#total de matriculas únicas 
print("Total de matriculas únicas: ",  turmasNovo["matricula"].unique().shape)
resultado = turmasNovo.groupby(["matricula"]).count()
resultado = resultado.reset_index()
print(resultado.loc[resultado["idTurma"]==2,"matricula"])
# tem 917 matriculas em estão em apenas 1 turma 
# tem 80 matriculas que estão em 2 turmas cadastradas
# tem 14 matriculas que estão em 3 turmas cadastradas

Total de matriculas únicas:  (952,)
7       2014084928
9       2014085219
23     20150121152
26     20150126130
27     20150126140
32     20150131810
43      2015092890
48     20160002781
50     20160100853
56     20160107148
60     20160107881
67     20160109062
82     20160141810
88     20160142290
90     20160142497
96     20160143369
103    20160146191
105    20160146290
115    20160158020
126     2016018995
137     2016053573
138     2016090183
140     2016090666
143     2016094923
147     2016097620
149     2016098440
150     2016098708
172    20170030959
174    20170030995
194    20170032013
          ...
491    20170118619
493    20170132467
495    20170133811
502    20170137795
505    20170137875
512    20170137991
515    20170138068
522    20170138291
532    20170138550
534    20170138620
535    20170138630
541    20170139440
551    20170147399
597    20180030335
624    20180031332
626    20180031412
634    20180031691
675    20180033776
684    20180034497
686    20180034595
688    20180034639
692    20180034970
727    20180037695
753    20180039715
754    20180039733
776    20180042597
794    20180087650
841    20180108142
868    20180128029
879    20180134723
Name: matricula, Length: 88, dtype: object

**TESTE : Montar uma turma por ano e descrição**

In [11]:
turmasNovoAno=turmasNovo.loc[turmasNovo["ano"] == 2019.1, ["matricula","descricaoTurma","ano"]] 
turmaDescricao = turmasNovoAno.loc[turmasNovoAno["descricaoTurma"].str.contains('Turma 03D', regex=False), ["matricula","descricaoTurma","ano"]]
print(turmaDescricao.sort_values(by=['matricula']))
print("Quantidade de alunos ", turmaDescricao.shape)

        matricula                     descricaoTurma     ano
1419  20150126140  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1418  20170138916  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1415  20180032572  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1413  20180034595  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1411  20180035959  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1414  20180038333  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1412  20180042013  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1420  20180042274  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1417  20180107468  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1410  20180135776  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1416  20180156613  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
Quantidade de alunos  (11, 3)

**Concatenar a tabela usuarios com a tabela turmas pela coluna matricula**

In [12]:
mergeUserTurmas = pd.merge(right = tabUser, left = turmasNovo, on='matricula', how="outer")
mergeUserTurmas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1287 entries, 0 to 1286
Data columns (total 6 columns):
idTurma           1073 non-null object
ano               1073 non-null float64
descricaoTurma    1073 non-null object
matricula         1286 non-null object
idAluno           1191 non-null object
nome              1191 non-null object
dtypes: float64(1), object(5)
memory usage: 70.4+ KB

**TESTE: alunos que não estão cadastrados no sistema e que estão matriculados na disciplina**

In [13]:
print("Quantidade de matriculas em user "                                  ,tabUser["matricula"].shape )
print("Quantidade de matriculas em turmasNovo "                            ,turmasNovo["matricula"].shape )
print("Quantidade de matriculas depois de juntar as tabelas user e turmas ",mergeUserTurmas["matricula"].shape )


# TESTE 
# Existem matriculas na tabela turmas que não se cadastraram no sistema? SIM
# Existem 93 matriculas que não tem registro no sistema
print(mergeUserTurmas.loc[mergeUserTurmas["idAluno"].isna(), ["idAluno","matricula", "descricaoTurma", "ano"]].sort_values(by=['matricula']))

Quantidade de matriculas em user  (1077,)
Quantidade de matriculas em turmasNovo  (1073,)
Quantidade de matriculas depois de juntar as tabelas user e turmas  (1287,)
     idAluno    matricula                     descricaoTurma     ano
279      NaN   2012927879  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2017.2
215      NaN   2014047915  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2017.2
401      NaN   2014074420  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.1
355      NaN   2014084786  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2017.2
608      NaN   2014089272  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2018.1
27       NaN   2014096268  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2017.2
477      NaN   2015011775  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2018.1
74       NaN  20150125447  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
741      NaN  20150126140  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
740      NaN  20150126140  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2018.2
83       NaN  20150127067  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
856      NaN  20150127700  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.2
31       NaN   2015014276  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2017.2
334      NaN   2015017410  LÓGICA DE PROGRAMAÇÃO - Turma 03C  2017.2
839      NaN   2015017714  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2018.2
251      NaN   2015017797  LÓGICA DE PROGRAMAÇÃO - Turma 02D  2017.2
453      NaN   2015018515  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2018.1
158      NaN   2015092110  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2017.2
73       NaN   2015092352  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
297      NaN   2015093879  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2017.2
254      NaN   2015096431  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2017.2
190      NaN  20160002932  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2017.2
819      NaN  20160107685  LÓGICA DE PROGRAMAÇÃO - Turma 02D  2018.2
118      NaN  20160108889  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2017.2
617      NaN   2016011850  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2018.1
79       NaN   2016012454  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
874      NaN   2016013578  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.1
277      NaN  20160141874  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2017.2
596      NaN  20160142521  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2018.1
880      NaN  20160143681  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.1
...      ...          ...                                ...     ...
613      NaN  20170118065  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2018.1
947      NaN  20170118440  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2019.1
700      NaN  20170118520  LÓGICA DE PROGRAMAÇÃO - Turma 03C  2018.2
780      NaN  20170133651  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2018.2
898      NaN  20170137703  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2019.1
524      NaN  20170137768  LÓGICA DE PROGRAMAÇÃO - Turma 02D  2018.1
682      NaN  20170137955  LÓGICA DE PROGRAMAÇÃO - Turma 03C  2018.2
485      NaN  20170138658  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2018.1
840      NaN  20170139163  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2018.2
468      NaN  20170147325  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2018.1
389      NaN  20170147380  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.1
392      NaN  20170147414  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.1
413      NaN  20170183072  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2018.1
563      NaN  20170183143  LÓGICA DE PROGRAMAÇÃO - Turma 03C  2018.1
789      NaN  20180029890  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2018.2
785      NaN  20180030012  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2018.2
712      NaN  20180030335  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2019.1
711      NaN  20180030335  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2018.2
1039     NaN  20180030415  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2019.1
1057     NaN  20180033032  LÓGICA DE PROGRAMAÇÃO - Turma 03C  2019.1
791      NaN  20180033936  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2018.2
879      NaN  20180033954  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.1
889      NaN  20180037677  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2019.1
673      NaN  20180041894  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2018.2
847      NaN  20180093470  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.2
872      NaN  20180107047  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.1
948      NaN  20180134975  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2019.1
894      NaN  20180136399  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2019.1
868      NaN  20190073111  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.1
434      NaN      2081982  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2018.1

[96 rows x 4 columns]

**TESTE : Montar a turma pelo ano e pela descrição da turma**

In [0]:
turmaAno       = mergeUserTurmas.loc[mergeUserTurmas.loc[:,"ano"] == 2018.2, ["matricula",'nome',"descricaoTurma","ano", "idAluno", "descricaoHorario","idTurma"]].copy() 
turmaDescricao = turmaAno.loc[turmaAno.loc[:,"descricaoTurma"].str.contains('Turma 03A', regex=False), ["matricula",'nome',"descricaoTurma","ano","idAluno","descricaoHorario","idTurma"]].copy()
turmaDescricao.shape

**Criar um arquivo CSV com as informações das turmas do Sigaa e as informações de cadastro do LOP**

In [0]:
#mergeUserTurmasT= mergeUserTurmas.drop('nome',axis=1)
mergeUserTurmas.to_csv(r'lopUsuarioTurma.csv')

**Expandir a tabela listas para que cada questão seja uma linha da tabela**

In [15]:
colunas = ["idLista","questao","titulo"]
listaNovo = pd.DataFrame(columns=colunas)
for i in range(len(tabListas)):
  idLista=tabListas["_id"].iloc[i]
  titulo=tabListas["titulo"].iloc[i]
  j=tabListas["questao"].iloc[i]
  for a in range(18):
      questao=j[a]
      dic = {"idLista": idLista ,"titulo":titulo, "questao": questao }
      listaNovo = pd.concat([listaNovo, pd.DataFrame(dic, index=[0])],  ignore_index=True, sort=False )
    
print(listaNovo.shape)
listaNovo.info()

(414, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 3 columns):
idLista    414 non-null object
questao    173 non-null object
titulo     414 non-null object
dtypes: object(3)
memory usage: 9.8+ KB

**Apagar os registros onde o campo da coluna questao é nulo**

In [16]:
listaNovo = listaNovo.dropna(axis=0, how='any')
print(listaNovo.shape)

(173, 3)

**Criar um novo campo na tabela ListaNovo com a quantidade de questões por lista**

In [17]:
quantidade=listaNovo.groupby("idLista").count()
quantidade = quantidade.reset_index()
quantidade = quantidade.drop('titulo',axis=1)
quantidade.rename(columns={"questao":"quantidade"}, inplace=True)
listaNovo= pd.merge(left = listaNovo, right = quantidade, on='idLista', how="right")
print(listaNovo.info())
listaNovo.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 172
Data columns (total 4 columns):
idLista       173 non-null object
questao       173 non-null object
titulo        173 non-null object
quantidade    173 non-null int64
dtypes: int64(1), object(3)
memory usage: 6.8+ KB
None

                    idLista  ... quantidade
0  598cd57a3bc48946977dcf67  ...          5
1  598cd57a3bc48946977dcf67  ...          5
2  598cd57a3bc48946977dcf67  ...          5
3  598cd57a3bc48946977dcf67  ...          5
4  598cd57a3bc48946977dcf67  ...          5

[5 rows x 4 columns]

**Concatenar a tabela lista com a tabela submissoes pela coluna questao**

In [18]:
mergeSubLista = pd.merge(right= tabSub, left = listaNovo, on='questao', how="inner")
print(mergeSubLista.shape)

# A Quantidade de submissoes aumentou muito . Esta correto
#pode existe questão que foi submetida que não esta em nenhuma lista? simmmm
print(mergeSubLista.info())

#quantidade correta, pois ha questoes sem lista
print(listaNovo["titulo"].unique().shape)
print(mergeSubLista["titulo"].unique().shape)

(55440, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 55440 entries, 0 to 55439
Data columns (total 7 columns):
idLista              55440 non-null object
questao              55440 non-null object
titulo               55440 non-null object
quantidade           55440 non-null int64
data                 55440 non-null datetime64[ns, UTC]
porcentagemAcerto    55440 non-null int64
user                 55440 non-null object
dtypes: datetime64[ns, UTC](1), int64(2), object(4)
memory usage: 3.4+ MB
None
(23,)
(23,)

**TESTE: Montar uma lista de questoes pelo nome da lista**

In [0]:
mergeSubLista.loc[mergeSubLista["titulo"].str.contains('Lista de Laboratório 3', regex=False), "questao"].unique()

**Criar um arquivo CSV com as informações das submissões e as informações da lista com titulo e quantidade**

In [0]:
mergeSubLista.to_csv(r'lopSubLista.csv')

**Concatenar as tabelas merge_user_turmas e merge_sub_lista**

In [20]:
mergeSubLista.rename(columns={"user":"idAluno"}, inplace=True)
mergeUseTurmasSubLista = pd.merge(right= mergeUserTurmas, left = mergeSubLista, on='idAluno', how="outer")
print (mergeUseTurmasSubLista.shape)
print(mergeUseTurmasSubLista.columns)
mergeUseTurmasSubLista.head(1)

(62309, 12)
Index(['idLista', 'questao', 'titulo', 'quantidade', 'data',
       'porcentagemAcerto', 'idAluno', 'idTurma', 'ano', 'descricaoTurma',
       'matricula', 'nome'],
      dtype='object')

                    idLista  ...          nome
0  598cd57a3bc48946977dcf67  ...  Lucas Dantas

[1 rows x 12 columns]

**Criar um arquivo CSV com as informações dos usuarios, turmas, submissões e as informações da lista**

In [0]:
mergeUseTurmasSubLista.to_csv(r'lopUseTurmasSubLista.csv')

**Montar um arquivo CSV com as notas de cada aluno por lista**

In [0]:
#Remover todas as linhas que tem dados faltantes
mergeUseTurmasSubListaM = mergeUseTurmasSubLista.dropna(axis=0, how='any')

**Porcentagem Máxima por aluno em cada questão da lista**

In [23]:
NotaMaxQuestao = mergeUseTurmasSubListaM.groupby(["idLista","idAluno","questao"]).max()
NotaMaxQuestao.rename(columns={"porcentagemAcerto":"porcentagemMaxima"}, inplace=True)
NotaMaxQuestao = NotaMaxQuestao.reset_index()
print(NotaMaxQuestao.columns)
NotaMaxQuestao.head(1)

Index(['idLista', 'idAluno', 'questao', 'titulo', 'quantidade', 'data',
       'porcentagemMaxima', 'idTurma', 'ano', 'descricaoTurma', 'matricula',
       'nome'],
      dtype='object')

                    idLista                   idAluno  ...    matricula    nome
0  598cd57a3bc48946977dcf67  5991cb910be9d42f2f68b906  ...  20170039453  Amanda

[1 rows x 12 columns]

**Quantidade de questoes feitas por aluno em cada lista**

In [24]:
quantidade = NotaMaxQuestao.groupby(["titulo","idAluno"]).count()
quantidade.rename(columns={"quantidade":"questoesFeitas"}, inplace=True)
quantidade= quantidade.reset_index()
quantidade= quantidade[["titulo","idAluno","questoesFeitas"]]
print(quantidade.columns)
quantidade.head(1)

Index(['titulo', 'idAluno', 'questoesFeitas'], dtype='object')

                                           titulo  ... questoesFeitas
0  Lista de Exercícios 1 - Expressões e variáveis  ...             11

[1 rows x 3 columns]

**Nota final dos alunos por lista**

In [25]:
NotaLista = NotaMaxQuestao.groupby(["titulo","idAluno"]).sum()
NotaLista.rename(columns={"porcentagemMaxima":"SomaLista", "quantidade":"questoesFeitas"}, inplace=True)
NotaLista = NotaLista.drop('ano',axis=1)
NotaLista = NotaLista.reset_index()
NotaLista = NotaLista[["titulo",'idAluno','SomaLista']]
print(NotaLista.columns)
NotaLista.head(1)

Index(['titulo', 'idAluno', 'SomaLista'], dtype='object')

                                           titulo  ... SomaLista
0  Lista de Exercícios 1 - Expressões e variáveis  ...    1100.0

[1 rows x 3 columns]

In [26]:
mergeQuanNotaLista =  pd.merge(right= quantidade, left = NotaLista, on=['idAluno','titulo'], how="inner")
print(mergeQuanNotaLista.columns)
print(mergeQuanNotaLista.shape)
mergeQuanNotaLista.head(1)

Index(['titulo', 'idAluno', 'SomaLista', 'questoesFeitas'], dtype='object')
(7425, 4)

                                           titulo  ... questoesFeitas
0  Lista de Exercícios 1 - Expressões e variáveis  ...             11

[1 rows x 4 columns]

**Quantidade de questoes por lista**

In [27]:
quantQuesList = listaNovo[['quantidade','titulo']]
quantQuesList =quantQuesList.drop_duplicates()
print(quantQuesList.shape)
quantQuesList.head()

(23, 2)

    quantidade                                             titulo
0            5  Lista de Laboratório 1 - Expressões Aritmética...
5            5  Lista de Laboratório 2 - Expressões Lógicas e ...
10          18    Lista de Exercícios 2 - Estruturas Condicionais
28          15           Lista de Exercícios 3 - Laço Condicional
43           5  Lista de Laboratório 3 -  Estruturas de Repeti...

**Concatenando as informações das tabelas mergeQuanNotaLista e quantidade para calcular o nota final de cada lista**

In [28]:
mergeQuanNotaListaQuanQ = mergeQuanNotaLista.join(quantQuesList.set_index('titulo'), on='titulo')
mergeQuanNotaListaQuanQ["NotaLista"]= mergeQuanNotaListaQuanQ["SomaLista"] /mergeQuanNotaListaQuanQ['quantidade']
print(mergeQuanNotaListaQuanQ.columns)
print(mergeQuanNotaListaQuanQ.shape)
mergeQuanNotaListaQuanQ.head(3)

Index(['titulo', 'idAluno', 'SomaLista', 'questoesFeitas', 'quantidade',
       'NotaLista'],
      dtype='object')
(7425, 6)

                                           titulo  ...  NotaLista
0  Lista de Exercícios 1 - Expressões e variáveis  ...  73.333333
1  Lista de Exercícios 1 - Expressões e variáveis  ...  33.333333
2  Lista de Exercícios 1 - Expressões e variáveis  ...  40.000000

[3 rows x 6 columns]

**Tabela final com todas as informações do aluno das listas**

In [29]:
mergeUseTurmasSubLista.rename(columns={'titulo':"tituloLista","quantidade":"quantidadeLista"}, inplace=True)
mergeUseTurmasSubListaM = mergeUseTurmasSubLista[["tituloLista",'idAluno', 'ano', 'descricaoTurma', 'idTurma','matricula','nome']]

#Renomear as colunas da tabela Listas
mergeQuanNotaListaQuanQ.rename(columns={'titulo':"tituloLista","questoesFeitas":"questoesFeitasLista","quantidade":"quantidadeLista"}, inplace=True)
mergeQuanNotaListaQuanM = mergeQuanNotaListaQuanQ[['tituloLista', 'idAluno','questoesFeitasLista', 'quantidadeLista','NotaLista']]

tabelaFinalListas= mergeQuanNotaListaQuanM.join(mergeUseTurmasSubListaM.set_index(['tituloLista','idAluno']), on=['tituloLista','idAluno'])
#remover as linhas duplicadas
tabelaFinalListas = tabelaFinalListas.drop_duplicates()
tabelaFinalListas.head()

                                      tituloLista  ...                           nome
0  Lista de Exercícios 1 - Expressões e variáveis  ...                         Amanda
1  Lista de Exercícios 1 - Expressões e variáveis  ...  Emanuel Fernandes P. da Rocha
2  Lista de Exercícios 1 - Expressões e variáveis  ...                   Andrey Costa
3  Lista de Exercícios 1 - Expressões e variáveis  ...                       Fernanda
4  Lista de Exercícios 1 - Expressões e variáveis  ...                 Jayedson Brito

[5 rows x 10 columns]

**Exportando o dataframe para um arquivo CSV**

In [0]:
#tabelaFinalT= tabelaFinal.drop('nome',axis=1)
tabelaFinalListas.to_csv(r'lopUsuarioNotaLista.csv')

**#Expandir a tabela de provas para que cada questão das provas seja uma linha da tabela**

In [0]:
colunas   = ["idProva","idQuestao","titulo",'data']
provaNovo = pd.DataFrame(columns=colunas)
for i in range(len(tabProvas)):
  idProva   = tabProvas["_id"].iloc[i]
  titulo    = tabProvas["titulo"].iloc[i]
  data      = tabProvas["iniciou"].iloc[i]
  q         = tabProvas["questao"].iloc[i]
  for a in range(6):
    questao = q[a]
    dic = {"idProva": idProva ,"titulo":titulo, "idQuestao": questao ,"data":data}
    provaNovo = pd.concat([provaNovo, pd.DataFrame(dic, index=[0])],  ignore_index=True, sort=False )

**Deletar as linhas que estão com NaN**

In [33]:
provaNovo = provaNovo.dropna(axis=0, how='any')
print(provaNovo.shape)
provaNovo.info()

(287, 4)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 0 to 479
Data columns (total 4 columns):
idProva      287 non-null object
idQuestao    287 non-null object
titulo       287 non-null object
data         287 non-null object
dtypes: object(4)
memory usage: 11.2+ KB

**Criar o campo quantidade de questoes por prova**

In [34]:
quantidade = provaNovo.groupby("idProva").count()
quantidade = quantidade.reset_index()
quantidade = quantidade.drop(['titulo',"data"],axis=1)
quantidade.rename(columns={"idQuestao":"quantidade"}, inplace=True)
provaNovo = pd.merge(left = provaNovo, right = quantidade, on='idProva', how="right")
print(provaNovo.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 0 to 286
Data columns (total 5 columns):
idProva       287 non-null object
idQuestao     287 non-null object
titulo        287 non-null object
data          287 non-null object
quantidade    287 non-null int64
dtypes: int64(1), object(4)
memory usage: 13.5+ KB
None

**Criar o campo ano por prova**

In [35]:
#Alterando o tipo da variavel ano para datetime
provaNovo["data"] = pd.to_datetime(provaNovo["data"], format = "%Y/%m/%dT%H:%M:%S")

provaNovo["ano"], provaNovo["mes"] = provaNovo['data'].dt.year, provaNovo['data'].dt.month
#mergeSubProvas.head()

def data(data) :
  mes = data["mes"]
  if mes <= 7 :
    return data["ano"]+0.1
  else:
    return data["ano"]+0.2
provaNovo["ano"] =provaNovo.apply(data, axis=1)
provaNovo = provaNovo.drop("mes",axis = 1)
provaNovo.head()

                    idProva                 idQuestao  ... quantidade     ano
0  59b90fdb164b97408dc0a1c3  59b8512ba5e6fd53e89dde9a  ...          1  2017.2
1  59bf1366cc606e38ce5cf5bd  59badc372033dc5ce6bb83bb  ...          5  2017.2
2  59bf1366cc606e38ce5cf5bd  59bb27828cbf605cecda4f8e  ...          5  2017.2
3  59bf1366cc606e38ce5cf5bd  59bde0c30da65738ad6b38fb  ...          5  2017.2
4  59bf1366cc606e38ce5cf5bd  59bdebb0e228af38d3ff3950  ...          5  2017.2

[5 rows x 6 columns]

**Criar o campo ano na tabela tabSubProvas**

In [36]:
tabSubProvas["ano"],tabSubProvas["mes"] = tabSubProvas['data'].dt.year, tabSubProvas['data'].dt.month
tabSubProvas["ano"] = tabSubProvas.apply(data, axis=1)
tabSubProvas = tabSubProvas.drop("mes",axis = 1)
tabSubProvas.head()

                idSubmissao  ...     ano
0  59b9175a8cbf605cecda4e4c  ...  2017.2
1  59b917872fe9935d1a8896f7  ...  2017.2
2  59b917972033dc5ce6bb8268  ...  2017.2
3  59b917a82033dc5ce6bb826e  ...  2017.2
4  59b917ace6bd835d1505538e  ...  2017.2

[5 rows x 7 columns]

**Concatenar as tabelas provas e submissao provas**

In [37]:
mergeSubProvas = pd.merge(right= tabSubProvas, left = provaNovo, on=['idQuestao',"ano"], how="right")
#Só ficar com os registros das provas que o professor criou
mergeSubProvas = mergeSubProvas.loc[mergeSubProvas["idProva_x"] == mergeSubProvas["idProva_y"],:]
mergeSubProvas = mergeSubProvas.drop("idProva_y", axis=1)
mergeSubProvas.rename(columns={"idProva_x":"idProva", "data_x":"dataProva","data_y":"dataSubmissao"}, inplace=True)
mergeSubProvas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8053 entries, 0 to 13911
Data columns (total 10 columns):
idProva              8053 non-null object
idQuestao            8053 non-null object
titulo               8053 non-null object
dataProva            8053 non-null datetime64[ns, UTC]
quantidade           8053 non-null float64
ano                  8053 non-null float64
idSubmissao          8053 non-null object
dataSubmissao        8053 non-null datetime64[ns, UTC]
porcentagemAcerto    8053 non-null int64
idAluno              8053 non-null object
dtypes: datetime64[ns, UTC](2), float64(2), int64(1), object(5)
memory usage: 692.1+ KB

In [38]:
mergeSubProvas.head()

                    idProva  ...                   idAluno
0  59b90fdb164b97408dc0a1c3  ...  5991e7253c13e92f349ee4fe
1  59b90fdb164b97408dc0a1c3  ...  59b914c0164b97408dc0a1ce
2  59b90fdb164b97408dc0a1c3  ...  59a44148bb41843e0d7055ff
3  59b90fdb164b97408dc0a1c3  ...  59ad93671ec9d13cacb45e39
4  59b90fdb164b97408dc0a1c3  ...  59ad78dbb13df13c808634a0

[5 rows x 10 columns]

**#Criar o arquivo CSV com as informações das provas e das submissoes**

In [0]:
mergeSubProvas.to_csv(r'lopSubProva.csv')

**Concatenar a tabela mergeUserTurmas e mergeSubProvas**

In [40]:
mergeSubProvas.rename(columns={"user":"idAluno"}, inplace=True)
mergeUseTurmasSubProva = pd.merge(right= mergeUserTurmas, left = mergeSubProvas, on=['idAluno',"ano"], how="outer")
print (mergeUseTurmasSubProva.shape)
print(mergeUseTurmasSubProva.columns)
mergeUseTurmasSubProva.head(1)

(8631, 14)
Index(['idProva', 'idQuestao', 'titulo', 'dataProva', 'quantidade', 'ano',
       'idSubmissao', 'dataSubmissao', 'porcentagemAcerto', 'idAluno',
       'idTurma', 'descricaoTurma', 'matricula', 'nome'],
      dtype='object')

                    idProva  ...               nome
0  59b90fdb164b97408dc0a1c3  ...  Emerson Fernandes

[1 rows x 14 columns]

**Criar um arquivo CSV com as informações dos usuarios, turmas, submissões e as informações da lista**

In [0]:
mergeUseTurmasSubProva.to_csv(r'lopUseTurmasSubProva.csv')

**Montar um arquivo CSV com as notas de cada aluno por lista**

In [0]:
#Remover todas as linhas que tem dados faltantes
mergeUseTurmasSubProvaM = mergeUseTurmasSubProva.dropna(axis=0, how='any')

**Montar um arquivo CSV com as notas de cada aluno por prova** \\
**Porcentagem Máxima por aluno em cada questão da prova**

In [43]:
NotaMaxQuestaoProva = mergeUseTurmasSubProvaM.groupby(["idProva","idAluno","idQuestao"]).max()
NotaMaxQuestaoProva.rename(columns={"porcentagemAcerto":"porcentagemMaxima"}, inplace=True)
NotaMaxQuestaoProva = NotaMaxQuestaoProva.reset_index()
print(NotaMaxQuestaoProva.columns)
NotaMaxQuestaoProva.head(1)

Index(['idProva', 'idAluno', 'idQuestao', 'titulo', 'dataProva', 'quantidade',
       'ano', 'idSubmissao', 'dataSubmissao', 'porcentagemMaxima', 'idTurma',
       'descricaoTurma', 'matricula', 'nome'],
      dtype='object')

                    idProva  ...               nome
0  59b90fdb164b97408dc0a1c3  ...  Emerson Fernandes

[1 rows x 14 columns]

**Quantidade de questoes feitas por aluno em cada prova**

In [44]:
quantidadeProva = NotaMaxQuestaoProva.groupby(["titulo","idAluno"]).count()
quantidadeProva.rename(columns={"quantidade":"questoesFeitas"}, inplace=True)
quantidadeProva = quantidadeProva.reset_index()
quantidadeProva = quantidadeProva[["titulo","idAluno","questoesFeitas"]]
print(quantidadeProva.columns)
quantidadeProva.head(1)

Index(['titulo', 'idAluno', 'questoesFeitas'], dtype='object')

                               titulo                   idAluno  questoesFeitas
0  Prova 02 - Turmas 3A e 3B - 2018.1  59bf9b47e228af38d3ff3b6b               5

**Nota final dos alunos por prova**

In [45]:
NotaProva = NotaMaxQuestaoProva.groupby(["titulo","idAluno"]).sum()
NotaProva.rename(columns={"porcentagemMaxima":"SomaProva", "quantidade":"questoesFeitas"}, inplace=True)
NotaProva = NotaProva.drop('ano',axis=1)
NotaProva = NotaProva.reset_index()
NotaProva = NotaProva[["titulo",'idAluno','SomaProva']]
print(NotaProva.columns)
NotaProva.head(1)

Index(['titulo', 'idAluno', 'SomaProva'], dtype='object')

                               titulo                   idAluno  SomaProva
0  Prova 02 - Turmas 3A e 3B - 2018.1  59bf9b47e228af38d3ff3b6b      500.0

In [46]:
mergeQuanNotaProva =  pd.merge(right= quantidadeProva, left = NotaProva, on=['idAluno','titulo'], how="inner")
print(mergeQuanNotaProva.columns)
print(mergeQuanNotaProva.shape)
mergeQuanNotaProva.head(1)

Index(['titulo', 'idAluno', 'SomaProva', 'questoesFeitas'], dtype='object')
(1662, 4)

                               titulo  ... questoesFeitas
0  Prova 02 - Turmas 3A e 3B - 2018.1  ...              5

[1 rows x 4 columns]

**Quantidade de questoes por prova**

In [47]:
quantQuesProva = provaNovo[['quantidade',"titulo"]]
quantQuesProva = quantQuesProva.drop_duplicates()
print(quantQuesProva.shape)
quantQuesProva.head()

(77, 2)

    quantidade                                 titulo
0            1  Questão 2, Prova 1 - Prof. Rummenigge
1            5            Prova 1 - Turma 01 - 2017.2
6            5            Prova 1 - Turma 03 - 2017.2
11           5            Prova 2 - Turma 03 - 2017.2
16           6     Prova 1 Vídeos - Turma 01 - 2017.2

**Concatenando as informações das tabelas mergeQuanNotaProva e quantidade para calcular o nota final de cada prova**

In [48]:
mergeQuanNotaProvaQuanQ = mergeQuanNotaProva.join(quantQuesProva.set_index('titulo'), on='titulo')
mergeQuanNotaProvaQuanQ["notaProva"]= mergeQuanNotaProvaQuanQ["SomaProva"] /mergeQuanNotaProvaQuanQ['quantidade']
print(mergeQuanNotaProvaQuanQ.columns)
print(mergeQuanNotaProvaQuanQ.shape)
mergeQuanNotaProvaQuanQ.head(3)

Index(['titulo', 'idAluno', 'SomaProva', 'questoesFeitas', 'quantidade',
       'notaProva'],
      dtype='object')
(1662, 6)

                               titulo  ... notaProva
0  Prova 02 - Turmas 3A e 3B - 2018.1  ...     100.0
1  Prova 02 - Turmas 3A e 3B - 2018.1  ...      46.6
2  Prova 02 - Turmas 3A e 3B - 2018.1  ...      40.0

[3 rows x 6 columns]

**tabela final dos alunos por nota das provas**

In [49]:
mergeUseTurmasSubProva.rename(columns={'titulo':"tituloProva","quantidade":"quantidadeProva"}, inplace=True)
mergeUseTurmasSubProvaM = mergeUseTurmasSubProva[["tituloProva",'idAluno', 'ano', 'descricaoTurma', 'idTurma','matricula','nome']]

#Renomear as colunas da tabela Listas
mergeQuanNotaProvaQuanQ.rename(columns={'titulo':"tituloProva","questoesFeitas":"questoesFeitasProva","quantidade":"quantidadeProva"}, inplace=True)
mergeQuanNotaProvaQuanM = mergeQuanNotaProvaQuanQ[['tituloProva', 'idAluno','questoesFeitasProva', 'quantidadeProva','notaProva']]

tabelaFinalProvas= mergeQuanNotaProvaQuanM.join(mergeUseTurmasSubProvaM.set_index(['tituloProva','idAluno']), on=['tituloProva','idAluno'])
#remover as linhas duplicadas
tabelaFinalProvas = tabelaFinalProvas.drop_duplicates()
tabelaFinalProvas.head()

                          tituloProva  ...                           nome
0  Prova 02 - Turmas 3A e 3B - 2018.1  ...                        emerson
1  Prova 02 - Turmas 3A e 3B - 2018.1  ...  Ana Carolina Augusto Pinheiro
2  Prova 02 - Turmas 3A e 3B - 2018.1  ...    João Victor Fernandes Lopes
3  Prova 02 - Turmas 3A e 3B - 2018.1  ...       Ian Germano Cruz Batalha
4  Prova 02 - Turmas 3A e 3B - 2018.1  ...           gabriel moura duarte

[5 rows x 10 columns]

**Exportar o dataFrame para o arquivo CSV de Provas**

In [0]:
#tabelaFinalT= tabelaFinal.drop('nome',axis=1)
tabelaFinalProvas.to_csv(r'lopUsuarioNotaProva.csv')

Codigo de gerar numero de questoes <100

In [51]:
table = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lopUseTurmasSubLista.csv")
a= table.loc[table["porcentagemAcerto"]<100,"porcentagemAcerto"]
table["nQres"]=a
b = table.groupby("questao")["nQres"].sum().to_frame().reset_index().sort_values(by="nQres")
b.head()

                      questao  nQres
128  5bc47b18a2b8b504032f7e11    0.0
103  5add7924241ada0408e6b8ee    0.0
101  5add757a241ada0408e6b8da    0.0
92   5a1ddf9a84fb1d476d484ee7    0.0
127  5bc47ab2a2b8b504032f7e07    0.0

Numero de questoes submetidas por aluno

In [52]:
table = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lopUseTurmasSubLista.csv")
nQuestoes = table.groupby(["idAluno","idLista","questao"]).count()
nQuestoes.rename(columns={"quantidade":"nQuestoes"},inplace=True)
nQuestoes=nQuestoes.reset_index()
nQuestoes=nQuestoes[["idAluno","idLista","questao","nQuestoes"]]
nQuestoes.head()

                    idAluno  ... nQuestoes
0  598cd5453bc48946977dcf66  ...         5
1  598cd5453bc48946977dcf66  ...         1
2  598cd5453bc48946977dcf66  ...         1
3  598cd5453bc48946977dcf66  ...         1
4  598cd5453bc48946977dcf66  ...         1

[5 rows x 4 columns]