<a href="https://colab.research.google.com/github/repitta/CienciaDeDadosEducacionais/blob/master/notas_das_listas_de_LOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# These are the library we are going to use
import pandas as pd

In [0]:
# Situções finais no siga
# Reading the data directly from the Git
situacoes_url = ["https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lopSituacao2017.2.csv",
                      "https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lopSituacao2018.1.csv",
                      "https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lopSituacao2018.2.csv",
                      "https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lopSituacao2019.1.csv",
                      "https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lopSituacao2019.2.csv"]
usuarios_lop_url   =  "https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lop_db_2019_09_csv_tratados/lopUsuarioTurma%20(1).csv"
 
submissoes_url     =  "https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lop_db_2019_09_csv_tratados/lopSubLista%20(1).csv"

In [0]:
# Situações finais since 2017.2 until 2019.2 
situacoes2017_2 = pd.read_csv(situacoes_url[0], sep=',', encoding = "ISO-8859-1" )
situacoes2018_1 = pd.read_csv(situacoes_url[1], sep=',', encoding = "ISO-8859-1" )
situacoes2018_2 = pd.read_csv(situacoes_url[2], sep=',', encoding = "ISO-8859-1" )
situacoes2019_1 = pd.read_csv(situacoes_url[3], sep=',', encoding = "ISO-8859-1" )
situacoes2019_2 = pd.read_csv(situacoes_url[4], sep=',', encoding = "ISO-8859-1" )

# Submissoes dos alunos no LOP

submissoes = pd.read_csv(submissoes_url, sep=',', encoding = "ISO-8859-1" )

#Usuarios cadastrados no LOP 
usuarios_lop = pd.read_csv(usuarios_lop_url, sep=',', encoding = "ISO-8859-1" )

In [0]:
# Setting priginal data into one vector due to easier manipulation
situacoes =[situacoes2017_2,situacoes2018_1, situacoes2018_2, situacoes2019_1, situacoes2019_2]

In [0]:
# Eliminar a coluna Unnamed: 0 de todas as tabelas
for i in range(5):
  situacoes[i] = situacoes[i].drop(columns="Unnamed: 0")
  situacoes[i].fillna(0, inplace=True)
  situacoes[i]["matricula"] = situacoes[i]["matricula"].astype(str)
  situacoes[i]= situacoes[i].rename(columns={"ano": "anoSigaa"})
  situacoes[i]["anoSigaa"] = situacoes[i]["anoSigaa"].astype(float)
  situacoes[i]["turma"] = situacoes[i]["turma"].astype(str)
  
  
submissoes   = submissoes.drop(columns="Unnamed: 0")
submissoes.fillna(0, inplace=True)
submissoes["data"] = pd.to_datetime(submissoes["data"], format = "%Y/%m/%dT%H:%M:%S")
submissoes = submissoes.rename(columns={"quantidade": "quantidadeTotalLista"})

usuarios_lop = usuarios_lop.drop(columns="Unnamed: 0")
usuarios_lop.fillna(0, inplace=True)
#tratar a coluna descricaoTurma da tabela usuarios_lop para ficar igual a coluna turma da tabela situações 
usuarios_lop = usuarios_lop.rename(columns={"descricaoTurma": "turma"})
usuarios_lop["turma"] =  usuarios_lop["turma"].str.split(expand=True)[5]

usuarios_lop["matricula"] = usuarios_lop["matricula"].astype(str)
usuarios_lop= usuarios_lop.rename(columns={"ano": "anoLop"})
usuarios_lop["anoLop"] = usuarios_lop["anoLop"].astype(float)
usuarios_lop["turma"] = usuarios_lop["turma"].astype(str)

In [6]:
submissoes.quantidadeTotalLista.unique()

array([15.,  7.,  9.,  5., 16.,  4.,  8., 10.])

In [7]:
print(situacoes[0].columns)
print(" ")
print(usuarios_lop.columns)
print(" ")
print(submissoes.columns)

Index(['matricula', 'situacao', 'anoSigaa', 'turma'], dtype='object')

Index(['idTurma', 'anoLop', 'turma', 'matricula', 'idAluno', 'nome'], dtype='object')

Index(['data', 'idAluno', 'idLista', 'porcentagemAcerto',
       'quantidadeTotalLista', 'questao', 'titulo'],
      dtype='object')

In [8]:
#juntar todas as tabelas do sigaa para juntar com a tabela de usuarios do LOP
a =  pd.concat([situacoes[0], situacoes[1], situacoes[2], situacoes[3],situacoes[4]], ignore_index=True, axis=0)

mergeSituacoeUsuarios = pd.merge(right= a, left = usuarios_lop, on=["matricula","turma"], how="outer")

#Limpar a tabela para ficar só com as ocorrencias de usuarios que estão cadastrados no Lop
mergeSituacoeUsuarios = mergeSituacoeUsuarios.loc[mergeSituacoeUsuarios["anoSigaa"] == mergeSituacoeUsuarios["anoLop"] ]
mergeSituacoeUsuarios.head(1)

                    idTurma  anoLop  ...  situacao anoSigaa
0  598e15296d8650eb27d52e3d  2017.2  ...  APROVADO   2017.2

[1 rows x 8 columns]

In [0]:
#criar um campo extra na tabela submissoes para ter certeza que a submisao pertece ao aluno matricula naquele semestre
def anosub(data):
  if data.month >= 8:
    anoSubmissao = data.year + 0.2
  else :
    anoSubmissao = data.year + 0.1
  return anoSubmissao
submissoes["anoSubmissao"] = submissoes["data"].apply(anosub)

In [10]:
#juntas as tabelas situacaoUsuario com a tabela de submissoes
mergeSituacoeUsuariosSubLista = pd.merge(right=mergeSituacoeUsuarios, left = submissoes, on=["idAluno"], how="outer")

#Remover os lixos... Onde o ano da Submissão não for igual ao ano da matricula no sigaa
#Limpar a tabela para ficar só com as ocorrencias de usuarios que são do mesmo ano da submissao e do sigaa
mergeSituacoeUsuariosSubLista = mergeSituacoeUsuariosSubLista.loc[mergeSituacoeUsuariosSubLista["anoSigaa"] == mergeSituacoeUsuariosSubLista["anoSubmissao"] ]
mergeSituacoeUsuariosSubLista.head(1)

                       data                   idAluno  ...  situacao  anoSigaa
132 2017-08-14 16:29:10.522  5991cb910be9d42f2f68b906  ...  APROVADO    2017.2

[1 rows x 15 columns]

**Porcentagem Máxima por aluno em cada questão da lista**

In [11]:
NotaMaxQuestao = mergeSituacoeUsuariosSubLista.groupby(["idLista","idAluno","questao"]).max()
NotaMaxQuestao.rename(columns={"porcentagemAcerto":"porcentagemMaxima"}, inplace=True)
NotaMaxQuestao = NotaMaxQuestao.reset_index()
print(NotaMaxQuestao.columns)
NotaMaxQuestao.head(1)

Index(['idLista', 'idAluno', 'questao', 'data', 'porcentagemMaxima',
       'quantidadeTotalLista', 'titulo', 'anoSubmissao', 'idTurma', 'anoLop',
       'turma', 'matricula', 'nome', 'situacao', 'anoSigaa'],
      dtype='object')

                    idLista                   idAluno  ...  situacao anoSigaa
0  599ae0e1872c0a078b68b13e  5991cb910be9d42f2f68b906  ...  APROVADO   2017.2

[1 rows x 15 columns]

**Quantidade de questoes feitas por aluno em cada lista**

In [13]:
quantidade = NotaMaxQuestao.groupby(["titulo","idAluno"]).count()
quantidade.rename(columns={"quantidadeTotalLista":"questoesFeitas"}, inplace=True)
quantidade= quantidade.reset_index()
quantidade= quantidade[["titulo","idAluno","questoesFeitas"]]
print(quantidade.columns)
quantidade.head(1)

Index(['titulo', 'idAluno', 'questoesFeitas'], dtype='object')

                                 titulo  ... questoesFeitas
0  Lista 1.0 - ExpressÃµes aritmÃ©ticas  ...             10

[1 rows x 3 columns]

**Nota final dos alunos por lista**

In [14]:
NotaLista = NotaMaxQuestao.groupby(["titulo","idAluno"]).sum()
NotaLista.rename(columns={"porcentagemMaxima":"SomaLista", "quantidade":"questoesFeitas"}, inplace=True)
#NotaLista = NotaLista.drop('ano',axis=1)
NotaLista = NotaLista.reset_index()
NotaLista = NotaLista[["titulo",'idAluno','SomaLista']]
print(NotaLista.columns)
NotaLista.head(1)

Index(['titulo', 'idAluno', 'SomaLista'], dtype='object')

                                 titulo                   idAluno  SomaLista
0  Lista 1.0 - ExpressÃµes aritmÃ©ticas  59b91272570dda40b535c50d     1000.0

In [15]:
mergeQuanNotaLista =  pd.merge(right= quantidade, left = NotaLista, on=['idAluno','titulo'], how="inner")
print(mergeQuanNotaLista.columns)
print(mergeQuanNotaLista.shape)
mergeQuanNotaLista.head(1)

Index(['titulo', 'idAluno', 'SomaLista', 'questoesFeitas'], dtype='object')
(6958, 4)

                                 titulo  ... questoesFeitas
0  Lista 1.0 - ExpressÃµes aritmÃ©ticas  ...             10

[1 rows x 4 columns]

**Quantidade de questoes por lista**

In [16]:
quantQuesList = mergeSituacoeUsuariosSubLista[['quantidadeTotalLista','titulo']]
quantQuesList =quantQuesList.drop_duplicates()
print(quantQuesList.shape)
quantQuesList.head()

(22, 2)

     quantidadeTotalLista                                             titulo
132                  15.0  Lista de ExercÃ­cios 1 - ExpressÃµes e variÃ¡veis
136                   9.0                        Lista de RevisÃ£o Unidade 1
137                   7.0  Lista de LaboratÃ³rio 2 - ExpressÃµes LÃ³gicas...
140                  15.0   Lista de ExercÃ­cios 2 - Estruturas Condicionais
154                  15.0         Lista de ExercÃ­cios 3 - LaÃ§o Condicional

**Concatenando as informações das tabelas mergeQuanNotaLista e quantidade para calcular o nota final de cada lista**

In [18]:
mergeQuanNotaListaQuanQ = mergeQuanNotaLista.join(quantQuesList.set_index('titulo'), on='titulo')
mergeQuanNotaListaQuanQ["NotaLista"]= mergeQuanNotaListaQuanQ["SomaLista"] /mergeQuanNotaListaQuanQ['quantidadeTotalLista']
print(mergeQuanNotaListaQuanQ.columns)
print(mergeQuanNotaListaQuanQ.shape)
mergeQuanNotaListaQuanQ.head(3)

Index(['titulo', 'idAluno', 'SomaLista', 'questoesFeitas',
       'quantidadeTotalLista', 'NotaLista'],
      dtype='object')
(6958, 6)

                                 titulo  ... NotaLista
0  Lista 1.0 - ExpressÃµes aritmÃ©ticas  ...     100.0
1  Lista 1.0 - ExpressÃµes aritmÃ©ticas  ...     100.0
2  Lista 1.0 - ExpressÃµes aritmÃ©ticas  ...     100.0

[3 rows x 6 columns]

**Tabela final com todas as informações do aluno das listas**

In [23]:
mergeSituacoeUsuariosSubLista.rename(columns={'titulo':"tituloLista"}, inplace=True)
mergeSituacoeUsuariosSubListaM= mergeSituacoeUsuariosSubLista[["tituloLista",'idAluno', 'ano', 'descricaoTurma', 'idTurma','matricula','nome']]

#Renomear as colunas da tabela Listas
mergeQuanNotaListaQuanQ.rename(columns={'titulo':"tituloLista","questoesFeitas":"questoesFeitasLista","quantidade":"quantidadeLista"}, inplace=True)
mergeQuanNotaListaQuanM = mergeQuanNotaListaQuanQ[['tituloLista', 'idAluno','questoesFeitasLista', 'quantidadeLista','NotaLista']]

tabelaFinalListas= mergeQuanNotaListaQuanQ.join(mergeSituacoeUsuariosSubListaM.set_index(['tituloLista','idAluno']), on=['tituloLista','idAluno'])
#remover as linhas duplicadas
tabelaFinalListas = tabelaFinalListas.drop_duplicates()
tabelaFinalListas.head()

KeyError: ignored

**Exportando o dataframe para um arquivo CSV**

In [0]:
#tabelaFinalT= tabelaFinal.drop('nome',axis=1)
tabelaFinalListas.to_csv(r'lopUsuarioNotaLista.csv')

**#Expandir a tabela de provas para que cada questão das provas seja uma linha da tabela**

In [0]:
colunas   = ["idProva","idQuestao","titulo",'data']
provaNovo = pd.DataFrame(columns=colunas)
for i in range(len(tabProvas)):
  idProva   = tabProvas["_id"].iloc[i]
  titulo    = tabProvas["titulo"].iloc[i]
  data      = tabProvas["iniciou"].iloc[i]
  q         = tabProvas["questao"].iloc[i]
  for a in range(6):
    questao = q[a]
    dic = {"idProva": idProva ,"titulo":titulo, "idQuestao": questao ,"data":data}
    provaNovo = pd.concat([provaNovo, pd.DataFrame(dic, index=[0])],  ignore_index=True, sort=False )

**Deletar as linhas que estão com NaN**

In [0]:
provaNovo = provaNovo.dropna(axis=0, how='any')
print(provaNovo.shape)
provaNovo.info()

**Criar o campo quantidade de questoes por prova**

In [0]:
quantidade = provaNovo.groupby("idProva").count()
quantidade = quantidade.reset_index()
quantidade = quantidade.drop(['titulo',"data"],axis=1)
quantidade.rename(columns={"idQuestao":"quantidade"}, inplace=True)
provaNovo = pd.merge(left = provaNovo, right = quantidade, on='idProva', how="right")
print(provaNovo.info())

**Criar o campo ano por prova**

In [0]:
#Alterando o tipo da variavel ano para datetime
provaNovo["data"] = pd.to_datetime(provaNovo["data"], format = "%Y/%m/%dT%H:%M:%S")

provaNovo["ano"], provaNovo["mes"] = provaNovo['data'].dt.year, provaNovo['data'].dt.month
#mergeSubProvas.head()

def data(data) :
  mes = data["mes"]
  if mes <= 7 :
    return data["ano"]+0.1
  else:
    return data["ano"]+0.2
provaNovo["ano"] =provaNovo.apply(data, axis=1)
provaNovo = provaNovo.drop("mes",axis = 1)
provaNovo.head()

**Criar o campo ano na tabela tabSubProvas**

In [0]:
tabSubProvas["ano"],tabSubProvas["mes"] = tabSubProvas['data'].dt.year, tabSubProvas['data'].dt.month
tabSubProvas["ano"] = tabSubProvas.apply(data, axis=1)
tabSubProvas = tabSubProvas.drop("mes",axis = 1)
tabSubProvas.head()

**Concatenar as tabelas provas e submissao provas**

In [0]:
mergeSubProvas = pd.merge(right= tabSubProvas, left = provaNovo, on=['idQuestao',"ano"], how="right")
#Só ficar com os registros das provas que o professor criou
mergeSubProvas = mergeSubProvas.loc[mergeSubProvas["idProva_x"] == mergeSubProvas["idProva_y"],:]
mergeSubProvas = mergeSubProvas.drop("idProva_y", axis=1)
mergeSubProvas.rename(columns={"idProva_x":"idProva", "data_x":"dataProva","data_y":"dataSubmissao"}, inplace=True)
mergeSubProvas.info()

In [0]:
mergeSubProvas.head()

**#Criar o arquivo CSV com as informações das provas e das submissoes**

In [0]:
mergeSubProvas.to_csv(r'lopSubProva.csv')

**Concatenar a tabela mergeUserTurmas e mergeSubProvas**

In [0]:
mergeSubProvas.rename(columns={"user":"idAluno"}, inplace=True)
mergeUseTurmasSubProva = pd.merge(right= mergeUserTurmas, left = mergeSubProvas, on=['idAluno',"ano"], how="outer")
print (mergeUseTurmasSubProva.shape)
print(mergeUseTurmasSubProva.columns)
mergeUseTurmasSubProva.head(1)

**Criar um arquivo CSV com as informações dos usuarios, turmas, submissões e as informações da lista**

In [0]:
mergeUseTurmasSubProva.to_csv(r'lopUseTurmasSubProva.csv')

**Montar um arquivo CSV com as notas de cada aluno por lista**

In [0]:
#Remover todas as linhas que tem dados faltantes
mergeUseTurmasSubProvaM = mergeUseTurmasSubProva.dropna(axis=0, how='any')

**Montar um arquivo CSV com as notas de cada aluno por prova** \\
**Porcentagem Máxima por aluno em cada questão da prova**

In [0]:
NotaMaxQuestaoProva = mergeUseTurmasSubProvaM.groupby(["idProva","idAluno","idQuestao"]).max()
NotaMaxQuestaoProva.rename(columns={"porcentagemAcerto":"porcentagemMaxima"}, inplace=True)
NotaMaxQuestaoProva = NotaMaxQuestaoProva.reset_index()
print(NotaMaxQuestaoProva.columns)
NotaMaxQuestaoProva.head(1)

**Quantidade de questoes feitas por aluno em cada prova**

In [0]:
quantidadeProva = NotaMaxQuestaoProva.groupby(["titulo","idAluno"]).count()
quantidadeProva.rename(columns={"quantidade":"questoesFeitas"}, inplace=True)
quantidadeProva = quantidadeProva.reset_index()
quantidadeProva = quantidadeProva[["titulo","idAluno","questoesFeitas"]]
print(quantidadeProva.columns)
quantidadeProva.head(1)

**Nota final dos alunos por prova**

In [0]:
NotaProva = NotaMaxQuestaoProva.groupby(["titulo","idAluno"]).sum()
NotaProva.rename(columns={"porcentagemMaxima":"SomaProva", "quantidade":"questoesFeitas"}, inplace=True)
NotaProva = NotaProva.drop('ano',axis=1)
NotaProva = NotaProva.reset_index()
NotaProva = NotaProva[["titulo",'idAluno','SomaProva']]
print(NotaProva.columns)
NotaProva.head(1)

In [0]:
mergeQuanNotaProva =  pd.merge(right= quantidadeProva, left = NotaProva, on=['idAluno','titulo'], how="inner")
print(mergeQuanNotaProva.columns)
print(mergeQuanNotaProva.shape)
mergeQuanNotaProva.head(1)

**Quantidade de questoes por prova**

In [0]:
quantQuesProva = provaNovo[['quantidade',"titulo"]]
quantQuesProva = quantQuesProva.drop_duplicates()
print(quantQuesProva.shape)
quantQuesProva.head()

**Concatenando as informações das tabelas mergeQuanNotaProva e quantidade para calcular o nota final de cada prova**

In [0]:
mergeQuanNotaProvaQuanQ = mergeQuanNotaProva.join(quantQuesProva.set_index('titulo'), on='titulo')
mergeQuanNotaProvaQuanQ["notaProva"]= mergeQuanNotaProvaQuanQ["SomaProva"] /mergeQuanNotaProvaQuanQ['quantidade']
print(mergeQuanNotaProvaQuanQ.columns)
print(mergeQuanNotaProvaQuanQ.shape)
mergeQuanNotaProvaQuanQ.head(3)

**tabela final dos alunos por nota das provas**

In [0]:
mergeUseTurmasSubProva.rename(columns={'titulo':"tituloProva","quantidade":"quantidadeProva"}, inplace=True)
mergeUseTurmasSubProvaM = mergeUseTurmasSubProva[["tituloProva",'idAluno', 'ano', 'descricaoTurma', 'idTurma','matricula','nome']]

#Renomear as colunas da tabela Listas
mergeQuanNotaProvaQuanQ.rename(columns={'titulo':"tituloProva","questoesFeitas":"questoesFeitasProva","quantidade":"quantidadeProva"}, inplace=True)
mergeQuanNotaProvaQuanM = mergeQuanNotaProvaQuanQ[['tituloProva', 'idAluno','questoesFeitasProva', 'quantidadeProva','notaProva']]

tabelaFinalProvas= mergeQuanNotaProvaQuanM.join(mergeUseTurmasSubProvaM.set_index(['tituloProva','idAluno']), on=['tituloProva','idAluno'])
#remover as linhas duplicadas
tabelaFinalProvas = tabelaFinalProvas.drop_duplicates()
tabelaFinalProvas.head()

**Exportar o dataFrame para o arquivo CSV de Provas**

In [0]:
#tabelaFinalT= tabelaFinal.drop('nome',axis=1)
tabelaFinalProvas.to_csv(r'lopUsuarioNotaProva.csv')

Codigo de gerar numero de questoes <100

In [0]:
table = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lopUseTurmasSubLista.csv")
a= table.loc[table["porcentagemAcerto"]<100,"porcentagemAcerto"]
table["nQres"]=a
b = table.groupby("questao")["nQres"].sum().to_frame().reset_index().sort_values(by="nQres")
b.head()

Numero de questoes submetidas por aluno

In [0]:
table = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lopUseTurmasSubLista.csv")
nQuestoes = table.groupby(["idAluno","idLista","questao"]).count()
nQuestoes.rename(columns={"quantidade":"nQuestoes"},inplace=True)
nQuestoes=nQuestoes.reset_index()
nQuestoes=nQuestoes[["idAluno","idLista","questao","nQuestoes"]]
nQuestoes.head()