<a href="https://colab.research.google.com/github/repitta/CienciaDeDadosEducacionais/blob/master/pre-processoLOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<h1>Exploração dos dados do sistema LOP

Nesse projeto iremos fazer a análise exploratória de dados e suas representações visuais, que  engloba um conjunto de estatísticas quantitativas e gráficas que nos mostram as tendências, detectam comportamentos, testam a validade de hipóteses e fazem vários outros estudos.

Para esta análise, vamos utilizar os dados fornecidos pelo sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da  Universidade Federal do Rio Grande do Norte (UFRN) e investigar os fatores que influenciam o desempenho dos alunos do Bacharelado em Ciência e Tecnologia.

Assim, algumas questões que serão uma base para o nosso estudo podem ser levantadas:

1. Como o sucesso dos alunos tem sido ao longo dos anos?
2.  Uma configuração (tamanho, horário) da classe influencia  nesse desempenho?
3. Quais habilidades são aprendidas pelos alunos? (Perseverança,  Raciocínio Lógico, Atenção aos detalhes, Pensamento Abstrato )
4. Qual o perfil dos alunos?
5. Quais os estilos de aprendizagem?
6. E finalmente, qual a influência da  autorregulação da aprendizagem do aluno no seu redimento?




E tendo respondido a essas perguntas que, ao longo deste trabalho, geraremos gráficos e tabelas que relacionam a média dos alunos e o número de alunos aprovados e reprovados desde 2017.2  a 2019.1 com elementos como:

* O número de alunos por turma;
* O turno de aula;
* A quantidade de exercícios repondidos;
*A frequência que o aluno responde as atividades;
* E a quantidade de ausências de estudantes.
*Quantidade de linhas do código? 
*número de acessos a uma determinada tarefa?
*Sequência de acesso do conteúdo oferecido
*Data e hora de acesso às atividades
*notas do aluno;

Tais dados serão compilados e assim gerar informações como atividades que os alunos mais atrasam, atividades em que os alunos possuem desempenho menor e conteúdos que são mais visualizados ou menos acessados.

# Análise dos dados dos usuários do sistema LOP

O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.user.csv**, uma base de dados com registro dos usuários cadastrados no sistema LOP desde o ano 2017.2.

Para cada usuário há informações de _id, email, grupos.0, hash, listasFavoritas, matricula, nome, questoesFavoritas, salt e sigaa.turmas

1. A variável  **_id indica**  o número único data indentificação do usuário no sistema.

2. A variável  **email** armazena o endereço eletrônico informado pelo usuário

3. A variável  **grupos.0** indica o papel o usuário no sistema. Porém essa coluna está com o mesmo valor para todos . USUARIO

4. A variável  **hash** ...

5. A variável **listasFavoritas** indica .... está coluna está em branco para todos os campos

6. A variável  **matricula** indica o número de matricula informado pelo usuário

7. A variável **nome** armazena os nomes dos usuários

8. A variável **questoesFavoritas** indica quais as questões o usuário classificou como favorita

9. A variável **salt** ...

10. A variável **sigaa.turmas** ...

O nosso dataset tem 49 colunas e 1067 linhas

#Análise dos dados das turmas do sistema LOP

O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.turmas.csv**, uma base de dados com registro das turmas cadastradas no sistema LOP desde o ano 2017.2.

Para cada turma há informações 355 colunas . Muitas dessas informações foram exportadas do SIGAA e não são releventes para a pesquisa. Vamos descrever as variáveis que serão utilizadas no estudo.

1. A variável **_id armazena** o número único para identificar cada turma cadastrada
2. A variável **anoPeriodoString** armazena o ano e o respectivo período: .1 para o primeiro sementre .2 para o segundo sementre
3. A variável **descricaoTurma** armazena o nome da disciplina e o nome da turma
4. A variável **qtdMatriculados** armazena a quantidade de alunos matriculados em cada turma, tem muitos obejtos faltantes , não foi utilizado no estudo
5. A variável **horariosTurma.0.descricaoTurno** armazena o período que a turma foi oferdada : Manhã, Tarde ou Noite, tem muito objetos faltantes, não foi utilizadono estudo.
6. A variável **matrícula** armazena a matricula do usuário

O nosso dataset tem 355 colunas e 48 linhas

# Análise dos dados das listas de questões do sistema Lop



O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.listasExercicios.csv**, uma base de dados com registro das listas de exercícios cadastradas no sistema LOP desde o ano 2017.2.

Para cada lista de questões há informações  _id, likes, questoes, titulo.

1. A variável **_id** é um número único que idenfifica cada lista de questões
2. A variável **likes** ... está coluna está toda zerada
3.A variável  **questões** armazena o número único para cada questão cadastrada
4. a variável **titulo** armazena o titulo de cada questão

O nosso dataset tem 23 colunas e 23 linhas

#Análise dos dados das submissões das questões do sistema Lop



O sistema LOP - Plataforma de gerenciamento de exercícios de programação da Escola de Ciência e Tecnolgia da Universidade Federal do Rio Grande do Norte (UFRN) disponibiliza o recurso **lop.submissoes.csv**, uma base de dados com registro das listas de exercícios cadastradas no sistema LOP desde o ano 2017.2.

Para cada submissão há informações _id, codigo, data, porcentagemAcerto, questao.

1. A variável **_id**  armazena um número único da submissão de uma questão por aluno
2. A variável **codigo** armazena o código que foi feito pelo aluno
3. A variável **data** armazena data e hora de cada submissão
4. A variável **porcentagemAcerto** armazena o valor da porcentagem de acerto de cada questão submetida
5. A variável **questao** armazena o id da questão que foi submetida

O nosso dataset tem 55  colunas e 33421 linhas

# Modelando os dados

**Importa as bibliotecas**

In [0]:
import pandas as pd
from csv import reader
import numpy as np

**Lendo os arquivos CSV do Lop e definindo os tipos de cada coluna**

In [47]:
#Tipos de dados em cada coluna
typeUser   = {"_id":str, "matricula":str, "nome":str}
typeTurmas = {"_id":str, 'anoPeriodoString':np.float, 'descricaoTurma':str}
typeLista  = {"_id":str,"titulo":str,"questao":str}
typeSub    = {"porcentagemAcerto":np.int,"user":str} 
         
# Ler os arquivos CSV que foram gerados a partir do banco de dados do sistema LOP
lopUsers     = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lop_db_2019_09_csv/lop.users.csv",dtype=typeUser)
lopTurmas    = pd.read_csv("https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lop_db_2019_09_csv/lop.turmas.csv",dtype=typeTurmas)
lopListas    = pd.read_csv("https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lop_db_2019_09_csv/lop.listasExercicios.csv",dtype=typeLista) 
#Arquivo muito grande !! não tem como colocar no git
#lopSub      = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lop.submissoes.csv",dtype=typeSub)
lopSub       = pd.read_csv("lop.submissoes.csv",dtype=typeSub)
#lopProvas    = pd.read_csv("https://raw.githubusercontent.com/repitta/CienciaDeDadosEducacionais/master/arquivosCSV/lop.provas.csv")
#lopSubProvas = pd.read_csv("https://github.com/repitta/CienciaDeDadosEducacionais/raw/master/arquivosCSV/lop.submissoesProva.csv")


#definindo a coluna data as tabelas para o formato datetime do pandas
lopSub["data"]       = pd.to_datetime(lopSub["data"], format = "%Y/%m/%dT%H:%M:%S")
#lopSubProvas["data"] = pd.to_datetime(lopSubProvas["data"], format = "%Y/%m/%dT%H:%M:%S")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (51,55,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Selecionar as colunas com os dados que serão utilizados no estudo**

In [48]:
#Tabela Usuários - tab_user armazena as colunas "_id", "matricula", "nome" 
tabUser = lopUsers.loc[:,["_id", "matricula", "nome"]].copy()

#Tabela Turmas - tab_turmas armazena as colunas "_id", "anoPeriodoString","descricaoTurma", "matricula"
tabTurmas = lopTurmas.loc[:,["_id", "anoPeriodoString","descricaoTurma"]].copy()
matricula = []
turno     = []
for j in range(len(tabTurmas)):
  idMatriculat = []
  for i in range(30):
    idMatriculat.append(lopTurmas.loc[:,"dicentes."+str(i)+".matricula"][j])
  matricula.append(idMatriculat)                     
tabTurmas.loc[:,"matricula"] = pd.Series(matricula)

#Tabela Listas - tab_listas armazena as colunas "id","questoes, titulo"
tabListas = lopListas.loc[:,["_id","titulo"]].copy()
idLista   = []
for j in range(len(tabListas)):
  idQuestoes =[]
  for i in range(16):
    idQuestoes.append(lopListas.loc[:,"questoes."+str(i)][j])
  idLista.append(idQuestoes)
tabListas.loc[:,"questao"] = pd.Series(idLista)

#Tabela SubmissoesLista - taSub armazena as colunas "data","porcentagemAcerto","questao", "user"
tabSub = lopSub.loc[:,["data","porcentagemAcerto","questao", "user"]].copy()
tabSub.rename(columns={"user":"idAluno"}, inplace=True)

'''
#Tabela Provas - lopProvas armazena as colunas "_id","questao","titulo","iniciou
tabProvas = lopProvas.loc[:,["_id", "titulo","iniciou"]].copy()
questao   = []
turma     = []
for j in range(len(tabProvas)):
  idQuestaot = []
  idTurmat  = []
  for i in range(8):
    idTurmat.append(lopProvas.loc[:,"turmas."+str(i)][j])
    if i <=5 :
      idQuestaot.append(lopProvas.loc[:,"questoes."+str(i)][j]) 
  questao.append(idQuestaot)
  turma.append(idTurmat)
tabProvas.loc[:,"questao"] = pd.Series(questao)
tabProvas.loc[:,"turma"]   = pd.Series(turma)

#Tabela SubmissoesProva - tabSubProvas armazena as colunas 
tabSubProvas = lopSubProvas.loc[:,["_id", "data", "porcentagemAcerto", "prova", "questao","user"]].copy()
#renomear as colunas de tabSubProvas
tabSubProvas.rename(columns={"_id":"idSubmissao","prova":"idProva","questao":"idQuestao","user":"idAluno"}, inplace=True)
'''

'\n#Tabela Provas - lopProvas armazena as colunas "_id","questao","titulo","iniciou\ntabProvas = lopProvas.loc[:,["_id", "titulo","iniciou"]].copy()\nquestao   = []\nturma     = []\nfor j in range(len(tabProvas)):\n  idQuestaot = []\n  idTurmat  = []\n  for i in range(8):\n    idTurmat.append(lopProvas.loc[:,"turmas."+str(i)][j])\n    if i <=5 :\n      idQuestaot.append(lopProvas.loc[:,"questoes."+str(i)][j]) \n  questao.append(idQuestaot)\n  turma.append(idTurmat)\ntabProvas.loc[:,"questao"] = pd.Series(questao)\ntabProvas.loc[:,"turma"]   = pd.Series(turma)\n\n#Tabela SubmissoesProva - tabSubProvas armazena as colunas \ntabSubProvas = lopSubProvas.loc[:,["_id", "data", "porcentagemAcerto", "prova", "questao","user"]].copy()\n#renomear as colunas de tabSubProvas\ntabSubProvas.rename(columns={"_id":"idSubmissao","prova":"idProva","questao":"idQuestao","user":"idAluno"}, inplace=True)\n'

**Estrutura da cada dataframe após a seleção dos dados**

In [49]:
print("Tabelas de Usuários Colunas        \n",tabUser.columns,      tabUser.shape)
print("Tabelas de Turmas Colunas          \n",tabTurmas.columns,    tabTurmas.shape)
print("Tabelas de Listas Colunas          \n",tabListas.columns,    tabListas.shape)
print("Tabelas de SubmissoesLista Colunas \n",tabSub.columns,       tabSub.shape)
#print("Tabelas de Provas Colunas          \n",tabProvas.columns,    tabProvas.shape)
#print("Tabelas de SubmissoesProvas Colunas\n",tabSubProvas.columns, tabSubProvas.shape)

Tabelas de Usuários Colunas
 Index(['_id', 'matricula', 'nome'], dtype='object') (1422, 3)
Tabelas de Turmas Colunas
 Index(['_id', 'anoPeriodoString', 'descricaoTurma', 'matricula'], dtype='object') (60, 4)
Tabelas de Listas Colunas
 Index(['_id', 'titulo', 'questao'], dtype='object') (25, 3)
Tabelas de SubmissoesLista Colunas
 Index(['data', 'porcentagemAcerto', 'questao', 'idAluno'], dtype='object') (49293, 4)

**Transformar os dados da tabela User**

In [50]:
#renomeando a coluna _id para idAluno
tabUser.rename(columns={"_id":"idAluno"}, inplace=True)

#Limpando a coluna matricula, onde tem .0 no final da matricula foi retirado
tabUser.loc[:,"matricula"] = tabUser.loc[:,"matricula"].str.replace(".0","",regex=False).copy()

#imprimir os dados da tabela User
print(tabUser.info())
print(tabUser.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1422 entries, 0 to 1421
Data columns (total 3 columns):
idAluno      1422 non-null object
matricula    1421 non-null object
nome         1422 non-null object
dtypes: object(3)
memory usage: 33.4+ KB
None
                    idAluno    matricula                           nome
0  598cd5453bc48946977dcf66   2013023070               Gabriel Tibúrcio
1  598cd8b823daeb4b50a4b254      1943220                       Orivaldo
2  599155ebb3333c31b7a01e5b     12345678                 Professor João
3  5991cb910be9d42f2f68b906  20170039453                         Amanda
4  5991cd1a8907ca2f441cd313  20170038394  Emanuel Fernandes P. da Rocha

**Expandi a tabela turmas para que cada aluno seja uma linha do dataframe**

In [51]:
colunas    = ["idTurma","ano","descricaoTurma","matricula"]
turmasNovo = pd.DataFrame(columns=colunas)
for i in range(tabTurmas.shape[0]):
  idTurma        = tabTurmas["_id"].iloc[i]
  ano            = tabTurmas["anoPeriodoString"].iloc[i]
  descricaoTurma = tabTurmas["descricaoTurma"].iloc[i]
  m              = tabTurmas["matricula"].iloc[i]
  for a in range(30):
    matricula  = m[a]
    dic        = {"idTurma": idTurma ,"ano": ano ,"descricaoTurma":descricaoTurma,"matricula":matricula}
    turmasNovo = pd.concat([turmasNovo, pd.DataFrame(dic, index=[0])],  ignore_index=True, sort = False )
    
print(turmasNovo.shape)
turmasNovo.info()

(1800, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 4 columns):
idTurma           1800 non-null object
ano               1800 non-null float64
descricaoTurma    1800 non-null object
matricula         1354 non-null object
dtypes: float64(1), object(3)
memory usage: 56.3+ KB

**Apagar os registros onde o campo da coluna Matricula é nulo**

In [52]:
turmasNovo = turmasNovo.dropna(axis=0, how='any')
print(turmasNovo.shape)
turmasNovo.info()

(1354, 4)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1354 entries, 0 to 1779
Data columns (total 4 columns):
idTurma           1354 non-null object
ano               1354 non-null float64
descricaoTurma    1354 non-null object
matricula         1354 non-null object
dtypes: float64(1), object(3)
memory usage: 52.9+ KB

**Transformar os dados da tabela Turmas**

In [53]:
#Retirando o .0 da coluna matricula
turmasNovo["matricula"] = turmasNovo["matricula"].astype(str)
turmasNovo["matricula"] = turmasNovo["matricula"].str.replace(".0","",regex=False)

print(turmasNovo.info())
print(turmasNovo.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1354 entries, 0 to 1779
Data columns (total 4 columns):
idTurma           1354 non-null object
ano               1354 non-null float64
descricaoTurma    1354 non-null object
matricula         1354 non-null object
dtypes: float64(1), object(3)
memory usage: 52.9+ KB
None
                    idTurma  ...    matricula
0  598e15296d8650eb27d52e3d  ...  20170106538
1  598e15296d8650eb27d52e3d  ...  20170039453
2  598e15296d8650eb27d52e3d  ...  20170044776
3  598e15296d8650eb27d52e3d  ...  20170031473
4  598e15296d8650eb27d52e3d  ...  20170032274

[5 rows x 4 columns]

**TESTE : Tem matriculas em mais de uma turma**

In [54]:
#total de matriculas únicas 
print("Total de matriculas únicas: ",  turmasNovo["matricula"].unique().shape)
resultado = turmasNovo.groupby(["matricula"]).count()
resultado = resultado.reset_index()
print(resultado.loc[resultado["idTurma"]==2,"matricula"])
# tem 917 matriculas em estão em apenas 1 turma 
# tem 80 matriculas que estão em 2 turmas cadastradas
# tem 14 matriculas que estão em 3 turmas cadastradas

Total de matriculas únicas:  (1205,)
7       2014084928
9       2014085219
23     20150121152
26     20150126130
27     20150126140
32     20150131810
43      2015092890
48     20160002781
50     20160100853
56     20160107148
60     20160107881
68     20160109062
83     20160141810
90     20160142290
92     20160142497
98     20160143369
105    20160146191
107    20160146290
117    20160158020
128     2016018995
139     2016053573
140     2016090183
142     2016090666
145     2016094923
149     2016097620
151     2016098440
152     2016098708
174    20170030959
176    20170030995
196    20170032013
          ...
629    20180031412
637    20180031691
646    20180032115
678    20180033776
681    20180033954
687    20180034497
691    20180034639
695    20180034970
698    20180035313
730    20180037695
761    20180039715
762    20180039733
791    20180042597
812    20180044170
813    20180087650
848    20180106845
852    20180107065
865    20180108142
894    20180110866
897    20180128029
909    20180134723
912    20180134812
924    20180135097
930    20180135195
933    20180135257
955    20180135696
965    20180136399
968    20180146205
970    20180146250
988    20180156613
Name: matricula, Length: 109, dtype: object

**TESTE : Montar uma turma por ano e descrição**

In [55]:
turmasNovoAno=turmasNovo.loc[turmasNovo["ano"] == 2019.1, ["matricula","descricaoTurma","ano"]] 
turmaDescricao = turmasNovoAno.loc[turmasNovoAno["descricaoTurma"].str.contains('Turma 03D', regex=False), ["matricula","descricaoTurma","ano"]]
print(turmaDescricao.sort_values(by=['matricula']))
print("Quantidade de alunos ", turmaDescricao.shape)

        matricula                     descricaoTurma     ano
1419  20150126140  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1418  20170138916  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1415  20180032572  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1413  20180034595  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1411  20180035959  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1414  20180038333  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1412  20180042013  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1420  20180042274  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1417  20180107468  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1410  20180135776  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
1416  20180156613  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
Quantidade de alunos  (11, 3)

**Concatenar a tabela usuarios com a tabela turmas pela coluna matricula**

In [56]:
mergeUserTurmas = pd.merge(right = tabUser, left = turmasNovo, on='matricula', how="outer")
mergeUserTurmas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1678 entries, 0 to 1677
Data columns (total 6 columns):
idTurma           1354 non-null object
ano               1354 non-null float64
descricaoTurma    1354 non-null object
matricula         1677 non-null object
idAluno           1561 non-null object
nome              1561 non-null object
dtypes: float64(1), object(5)
memory usage: 91.8+ KB

**TESTE: alunos que não estão cadastrados no sistema e que estão matriculados na disciplina**

In [57]:
print("Quantidade de matriculas em user "                                  ,tabUser["matricula"].shape )
print("Quantidade de matriculas em turmasNovo "                            ,turmasNovo["matricula"].shape )
print("Quantidade de matriculas depois de juntar as tabelas user e turmas ",mergeUserTurmas["matricula"].shape )


# TESTE 
# Existem matriculas na tabela turmas que não se cadastraram no sistema? SIM
# Existem 93 matriculas que não tem registro no sistema
print(mergeUserTurmas.loc[mergeUserTurmas["idAluno"].isna(), ["idAluno","matricula", "descricaoTurma", "ano"]].sort_values(by=['matricula']))

Quantidade de matriculas em user  (1422,)
Quantidade de matriculas em turmasNovo  (1354,)
Quantidade de matriculas depois de juntar as tabelas user e turmas  (1678,)
     idAluno    matricula                     descricaoTurma     ano
280      NaN   2012927879  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2017.2
216      NaN   2014047915  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2017.2
403      NaN   2014074420  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.1
356      NaN   2014084786  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2017.2
611      NaN   2014089272  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2018.1
27       NaN   2014096268  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2017.2
480      NaN   2015011775  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2018.1
74       NaN  20150125447  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
745      NaN  20150126140  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.1
744      NaN  20150126140  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2018.2
83       NaN  20150127067  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
863      NaN  20150127700  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.2
31       NaN   2015014276  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2017.2
335      NaN   2015017410  LÓGICA DE PROGRAMAÇÃO - Turma 03C  2017.2
845      NaN   2015017714  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2018.2
252      NaN   2015017797  LÓGICA DE PROGRAMAÇÃO - Turma 02D  2017.2
456      NaN   2015018515  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2018.1
158      NaN   2015092110  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2017.2
73       NaN   2015092352  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
298      NaN   2015093879  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2017.2
255      NaN   2015096431  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2017.2
191      NaN  20160002932  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2017.2
825      NaN  20160107685  LÓGICA DE PROGRAMAÇÃO - Turma 02D  2018.2
118      NaN  20160108889  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2017.2
620      NaN   2016011850  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2018.1
79       NaN   2016012454  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2017.2
882      NaN   2016013578  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.1
278      NaN  20160141874  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2017.2
1236     NaN  20160142156  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2019.1
599      NaN  20160142521  LÓGICA DE PROGRAMAÇÃO - Turma 03A  2018.1
...      ...          ...                                ...     ...
888      NaN  20180033954  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2019.2
898      NaN  20180037677  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2019.1
1334     NaN  20180039072  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
1322     NaN  20180040313  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
1151     NaN  20180041295  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2019.2
676      NaN  20180041894  LÓGICA DE PROGRAMAÇÃO - Turma 03B  2018.2
1183     NaN  20180042659  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.2
853      NaN  20180093470  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2018.2
1161     NaN  20180093550  LÓGICA DE PROGRAMAÇÃO - Turma 03C  2019.2
880      NaN  20180107047  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.1
1341     NaN  20180109589  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2019.2
1214     NaN  20180127943  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2019.1
964      NaN  20180134975  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2019.1
1244     NaN  20180135275  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2019.1
1323     NaN  20180135444  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
904      NaN  20180136399  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
903      NaN  20180136399  LÓGICA DE PROGRAMAÇÃO - Turma 02C  2019.1
1202     NaN  20180136684  LÓGICA DE PROGRAMAÇÃO - Turma 03D  2019.2
1293     NaN  20190070352  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.2
1271     NaN  20190073318  LÓGICA DE PROGRAMAÇÃO - Turma 01D  2019.2
1259     NaN  20190074790  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2019.1
1321     NaN  20190074914  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
1320     NaN  20190075831  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
1329     NaN  20190078154  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
1303     NaN  20190078978  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.2
1327     NaN  20190079699  LÓGICA DE PROGRAMAÇÃO - Turma 02B  2019.2
1261     NaN  20190080715  LÓGICA DE PROGRAMAÇÃO - Turma 01B  2019.1
1299     NaN  20190080930  LÓGICA DE PROGRAMAÇÃO - Turma 02A  2019.2
1215     NaN  20190107668  LÓGICA DE PROGRAMAÇÃO - Turma 01A  2019.1
437      NaN      2081982  LÓGICA DE PROGRAMAÇÃO - Turma 01C  2018.1

[117 rows x 4 columns]

**TESTE : Montar a turma pelo ano e pela descrição da turma**

In [58]:
turmaAno       = mergeUserTurmas.loc[mergeUserTurmas.loc[:,"ano"] == 2018.2, ["matricula",'nome',"descricaoTurma","ano", "idAluno", "descricaoHorario","idTurma"]].copy() 
turmaDescricao = turmaAno.loc[turmaAno.loc[:,"descricaoTurma"].str.contains('Turma 03A', regex=False), ["matricula",'nome',"descricaoTurma","ano","idAluno","descricaoHorario","idTurma"]].copy()
turmaDescricao.shape

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

(30, 7)

**Criar um arquivo CSV com as informações das turmas do Sigaa e as informações de cadastro do LOP**

In [0]:
#mergeUserTurmasT= mergeUserTurmas.drop('nome',axis=1)
mergeUserTurmas.to_csv(r'lopUsuarioTurma.csv')

**Expandir a tabela listas para que cada questão seja uma linha da tabela**

In [59]:
colunas = ["idLista","questao","titulo"]
listaNovo = pd.DataFrame(columns=colunas)
for i in range(len(tabListas)):
  idLista=tabListas["_id"].iloc[i]
  titulo=tabListas["titulo"].iloc[i]
  j=tabListas["questao"].iloc[i]
  for a in range(16):
      questao=j[a]
      dic = {"idLista": idLista ,"titulo":titulo, "questao": questao }
      listaNovo = pd.concat([listaNovo, pd.DataFrame(dic, index=[0])],  ignore_index=True, sort=False )
    
print(listaNovo.shape)
listaNovo.info()

(400, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
idLista    400 non-null object
questao    191 non-null object
titulo     400 non-null object
dtypes: object(3)
memory usage: 9.5+ KB

**Apagar os registros onde o campo da coluna questao é nulo**

In [60]:
listaNovo = listaNovo.dropna(axis=0, how='any')
print(listaNovo.shape)

(191, 3)

In [61]:
listaNovo["titulo"].unique()

array(['Lista de Laboratório 1 - Expressões Aritméticas e Variáveis',
       'Lista de Laboratório 2 - Expressões Lógicas e Estruturas de Seleção',
       'Lista de Exercícios 2 - Estruturas Condicionais',
       'Lista de Exercícios 3 - Laço Condicional',
       'Lista de Laboratório 3 -  Estruturas de Repetição Condicional',
       'Lista de Exercícios 4 - Laço contado',
       'Prova 1 - Turma 09 - 2017.1',
       'Lista de Exercícios 4.1 - Problemas tradicionais com repetição contada',
       'Lista de Exercícios 1 - Expressões e variáveis',
       'Lista de Laboratório 5 - Vetores',
       'Lista de Laboratório 4 - Repetição Contada',
       'Lista de Exercícios 5 - Vetores', 'Lista de Revisão Unidade 1',
       'Prova 1 - Turmas 2A e 2B - 2018.1',
       'Prova 1 - Turmas 2C e 2D - 2018.1',
       'Prova 1 - Turmas 3C e 3D - 2018.1',
       'Prova 1 - Turmas 3A e 3B - 2018.1',
       'Prova 2 - Turmas 2A e 2B - 2018.1',
       'Prova 2 - Turmas 2C e 2D - 2018.1', 'Prova 1 - Turma 3A - 2018.2',
       'Prova 1 - Turma 3B - 2018.2', 'Prova 1 - Turma 3C - 2018.2',
       'Prova 1 - Turma 3D - 2018.2',
       'Lista 1.0 - Expressões aritméticas',
       'Lista 1.2 - Funções aritméticas'], dtype=object)

**Criar um novo campo na tabela ListaNovo com a quantidade de questões por lista**

In [62]:
#Apagar as ocorrências em que a mesma questão está em várias listas, só mantendo a primeira lista que ela foi cadastrada
listaNovo = listaNovo.sort_values(by="titulo")
#listaNovo.drop_duplicates( subset="questao", keep='last', inplace=True)
quantidade=listaNovo.groupby("idLista").count()
quantidade = quantidade.reset_index()
quantidade = quantidade.drop('titulo',axis=1)
quantidade.rename(columns={"questao":"quantidade"}, inplace=True)
listaNovo= pd.merge(left = listaNovo, right = quantidade, on='idLista', how="right")
print(listaNovo.info())
listaNovo.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 0 to 190
Data columns (total 4 columns):
idLista       191 non-null object
questao       191 non-null object
titulo        191 non-null object
quantidade    191 non-null int64
dtypes: int64(1), object(3)
memory usage: 7.5+ KB
None

                    idLista  ... quantidade
0  5d40eb1e6dcf7a54f8456c3d  ...         10
1  5d40eb1e6dcf7a54f8456c3d  ...         10
2  5d40eb1e6dcf7a54f8456c3d  ...         10
3  5d40eb1e6dcf7a54f8456c3d  ...         10
4  5d40eb1e6dcf7a54f8456c3d  ...         10

[5 rows x 4 columns]

In [63]:
listaNovo[["titulo","quantidade","questao"]].sort_values(by="questao")

                                                titulo  ...                   questao
104  Lista de Laboratório 1 - Expressões Aritmética...  ...  59885f8d684f4a3f78163c00
20      Lista de Exercícios 1 - Expressões e variáveis  ...  59885f8d684f4a3f78163c00
105  Lista de Laboratório 1 - Expressões Aritmética...  ...  59887121d7c3703f96fda00c
32      Lista de Exercícios 1 - Expressões e variáveis  ...  59887121d7c3703f96fda00c
106  Lista de Laboratório 1 - Expressões Aritmética...  ...  59887c83684f4a3f78163c02
33      Lista de Exercícios 1 - Expressões e variáveis  ...  59887c83684f4a3f78163c02
140                         Lista de Revisão Unidade 1  ...  59888cb2d2f43b3f548ef054
19      Lista de Exercícios 1 - Expressões e variáveis  ...  59888cb2d2f43b3f548ef054
107  Lista de Laboratório 1 - Expressões Aritmética...  ...  59888cb2d2f43b3f548ef054
108  Lista de Laboratório 1 - Expressões Aritmética...  ...  59888ea5d2f43b3f548ef057
29      Lista de Exercícios 1 - Expressões e variáveis  ...  59888ea5d2f43b3f548ef057
28      Lista de Exercícios 1 - Expressões e variáveis  ...  5994434aa76e28186bdf5672
31      Lista de Exercícios 1 - Expressões e variáveis  ...  5994485a487ae0183f7dbffa
27      Lista de Exercícios 1 - Expressões e variáveis  ...  5994498d0875c31866aa6922
35     Lista de Exercícios 2 - Estruturas Condicionais  ...  59986ee1aa6c19020665d5ec
36     Lista de Exercícios 2 - Estruturas Condicionais  ...  599871e1a9ad3601f087502a
111  Lista de Laboratório 2 - Expressões Lógicas e ...  ...  5998737a54b78701f54e9666
37     Lista de Exercícios 2 - Estruturas Condicionais  ...  5998793aaa6c19020665d5f2
38     Lista de Exercícios 2 - Estruturas Condicionais  ...  59987b6ba9ad3601f0875030
39     Lista de Exercícios 2 - Estruturas Condicionais  ...  59987cdfa9ad3601f0875034
141                         Lista de Revisão Unidade 1  ...  59987cdfa9ad3601f0875034
114  Lista de Laboratório 2 - Expressões Lógicas e ...  ...  599a32d6d9b4c2079007acb4
115  Lista de Laboratório 2 - Expressões Lógicas e ...  ...  599ad39ed9b4c2079007acb8
40     Lista de Exercícios 2 - Estruturas Condicionais  ...  599ad39ed9b4c2079007acb8
41     Lista de Exercícios 2 - Estruturas Condicionais  ...  599ad893d9b4c2079007acbd
113  Lista de Laboratório 2 - Expressões Lógicas e ...  ...  599adae4d9b4c2079007acc3
109  Lista de Laboratório 2 - Expressões Lógicas e ...  ...  599ae054495fac076a06d3ef
42     Lista de Exercícios 2 - Estruturas Condicionais  ...  599c7401f3b5c20e93bcb46c
43     Lista de Exercícios 2 - Estruturas Condicionais  ...  599c75a6a5ed530eb597c822
44     Lista de Exercícios 2 - Estruturas Condicionais  ...  599c782ff3b5c20e93bcb471
..                                                 ...  ...                       ...
158                        Prova 1 - Turma 3C - 2018.2  ...  5bc47607a2b8b504032f7dcb
157                        Prova 1 - Turma 3C - 2018.2  ...  5bc476baa2b8b504032f7dd1
156                        Prova 1 - Turma 3C - 2018.2  ...  5bc47765a2b8b504032f7dd8
155                        Prova 1 - Turma 3C - 2018.2  ...  5bc477f4a2b8b504032f7de2
162                        Prova 1 - Turma 3D - 2018.2  ...  5bc47a23a2b8b504032f7dfd
160                        Prova 1 - Turma 3D - 2018.2  ...  5bc47ab2a2b8b504032f7e07
161                        Prova 1 - Turma 3D - 2018.2  ...  5bc47b18a2b8b504032f7e11
4                   Lista 1.0 - Expressões aritméticas  ...  5d40c3590544a954e8dada3f
3                   Lista 1.0 - Expressões aritméticas  ...  5d40c7800544a954e8dada40
2                   Lista 1.0 - Expressões aritméticas  ...  5d40caf5191d475502d334a9
1                   Lista 1.0 - Expressões aritméticas  ...  5d40cd7c3d8c5054d6bc8d78
5                   Lista 1.0 - Expressões aritméticas  ...  5d40ce533d8c5054d6bc8d79
0                   Lista 1.0 - Expressões aritméticas  ...  5d40dcc43d8c5054d6bc8d7a
6                   Lista 1.0 - Expressões aritméticas  ...  5d40e18f191d475502d334ac
9                   Lista 1.0 - Expressões aritméticas  ...  5d40e31c191d475502d334ae
8                   Lista 1.0 - Expressões aritméticas  ...  5d40e4e60544a954e8dada44
7                   Lista 1.0 - Expressões aritméticas  ...  5d40e9d1c1853254c20af941
18                     Lista 1.2 - Funções aritméticas  ...  5d49ba491f052854e06a58ba
14                     Lista 1.2 - Funções aritméticas  ...  5d49bca9c1853254c20afb1c
17                     Lista 1.2 - Funções aritméticas  ...  5d49be0c1f052854e06a58bc
16                     Lista 1.2 - Funções aritméticas  ...  5d49bfacac500a550c20d92d
15                     Lista 1.2 - Funções aritméticas  ...  5d4b09c07d2d2c54ccde9a87
13                     Lista 1.2 - Funções aritméticas  ...  5d4b0acdc1853254c20afba9
12                     Lista 1.2 - Funções aritméticas  ...  5d4b0ca70544a954e8dadc96
10                     Lista 1.2 - Funções aritméticas  ...  5d4b0dd7ac500a550c20d9c4
11                     Lista 1.2 - Funções aritméticas  ...  5d516848191d475502d33915
112  Lista de Laboratório 2 - Expressões Lógicas e ...  ...  5d531e7e6dcf7a54f8457218
118  Lista de Laboratório 3 -  Estruturas de Repeti...  ...  5d66aa9502e0b4043f8e16d3
116  Lista de Laboratório 3 -  Estruturas de Repeti...  ...  5d66ae10f416c204124bf40f
117  Lista de Laboratório 3 -  Estruturas de Repeti...  ...  5d66be7291f9730436da2345

[191 rows x 3 columns]

**Concatenar a tabela lista com a tabela submissoes pela coluna questao**

In [67]:
mergeSubLista = pd.merge(right= tabSub, left = listaNovo, on='questao', how="outer")
print(mergeSubLista.shape)

(66929, 7)

**Retirar o ruído da tabela de submissões das litas de exercícios**
<p>
Submissão da mesma questão, com o mesmo valor de porcentagem de acerto, no mesmo dia e apenas a diferença de 3 segundos entre elas .. serão excluídas

In [69]:
mergeSubLista = mergeSubLista.reset_index()
mergeSubLista = mergeSubLista.sort_values(by=["idAluno","data"])
mergeSubLista.replace(np.nan, 0, inplace=True)
t = pd.Timedelta("3 seconds")

for i in mergeSubLista.index:
  if (i < len(mergeSubLista) ):
    if(mergeSubLista["idAluno"].iloc[i] == mergeSubLista["idAluno"].iloc[i+1]):
      if(mergeSubLista["questao"].iloc[i] == mergeSubLista["questao"].iloc[i+1]):
        if((mergeSubLista["data"].iloc[i+1] - mergeSubLista["data"].iloc[i]) < t):
          if(mergeSubLista["porcentagemAcerto"].iloc[i] == mergeSubLista["porcentagemAcerto"].iloc[i+1]):
             mergeSubLista =mergeSubLista.drop(mergeSubLista.index[[i]])

TypeError: ignored

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
mergeSubLista.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48614 entries, 27383 to 48359
Data columns (total 8 columns):
index                48614 non-null int64
idLista              48614 non-null object
questao              48614 non-null object
titulo               48614 non-null object
quantidade           48614 non-null float64
data                 48614 non-null object
porcentagemAcerto    48614 non-null float64
idAluno              48614 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 3.3+ MB

**Criar um arquivo CSV com as informações das submissões e as informações da lista com titulo e quantidade**

In [0]:
mergeSubLista.to_csv(r'lopSubLista.csv')